[2020-04-23 14:43] Warvito opened #102 "Adopt PEP8 in MONAI/examples/notebooks/"
**Is your feature request related to a problem? Please describe.**
Some notebooks are not following the PEP8 style guide.

**Describe the solution you'd like**
Please, consider following the PEP8 style guide in the notebooks from MONAI/examples/notebooks/.
For example, in [examples/notebooks/mednist_tutorial.ipynb](https://github.com/Project-MONAI/MONAI/blob/master/examples/notebooks/mednist_tutor

[2020-07-31 13:59] Nic-Ma opened #103 "Develop a tutorial about how to develop networks based on MONAI APIs"
**Is your feature request related to a problem? Please describe.**
We have very rich network layers, blocks, etc. and support both 2D and 3D, we also have layer factory to generate common layers. But currently, we don't have a step by step tutorial to show how to use the APIs to develop networks.

[2020-08-07 08:50] wyli opened #101 "Quality assurance of the MONAI/examples folder"
**Is your feature request related to a problem? Please describe.**
As the size and content scope of the `MONAI/examples` folder increase,
it's necessary to figure out the hardware/software requirements for running the examples,
and also provide some forms of quality assurance of the example codes.

**Describe the solution you'd like**
could automatically run the examples as a part of the automated

[2020-08-24 08:12] rijobro opened #2 "Suggested order of tutorials"
I (and so maybe other new users) would find it really useful if there was a suggested order to some of the tutorials, building in complexity, rather than just alphabetical order.

[2020-08-24 08:19] rijobro opened #3 "Colab links point to main respository"
Tutorials have a link for opening them with Colab:
![image](https://user-images.githubusercontent.com/33289025/91020943-686cdd00-e5f3-11ea-8e7c-9133311713c7.png)

But this points to their location prior to being moved into a separate repository:
![image](https://user-images.githubusercontent.com/33289025/91020663-090ecd00-e5f3-11ea-9816-db0c243ba3f3.png)

[2020-08-24 08:37] rijobro opened #4 "mkdtemp missing brackets"
In a few places (e.g., 3rd cell [here](https://github.com/Project-MONAI/Tutorials/blob/master/nifti_read_example.ipynb)), we have:

[code]
which is missing the brackets:
[code]
Might be worth grepping and replacing all `mkdtemp[space]` with `mkdtemp()[space]`.

[2020-08-24 11:33] wyli opened #6 "automate the testing of the jupyter notebooks"
this ticket looks for an automated CI setup to ensure the quality of the notebooks.
see also discussions:
- https://github.com/Project-MONAI/MONAI/issues/894
- https://github.com/Project-MONAI/MONAI/issues/872
- https://github.com/Project-MONAI/MONAI/issues/296
- https://github.com/Project-MONAI/MONAI/issues/894#issuecomment-672934517

[2020-08-24 11:36] wyli opened #7 "review notebooks with reviewnb"
install reviewnb https://www.reviewnb.com/ on this repo for diff & Commenting pull requests of jupyter notebooks

[2020-08-24 11:38] wyli commented on #7
could you please help with this ticket? @Nic-Ma @IsaacYangSLA

[2020-08-24 11:51] #4 closed

[2020-08-25 11:37] wyli commented on #2
agreed, pytorch tutorials use these categories
![Screenshot 2020-08-25 at 12 37 15](https://user-images.githubusercontent.com/831580/91169750-c242d500-e6cf-11ea-89f4-4aff235cabb5.png)

[2020-08-26 07:26] Nic-Ma commented on #7
Add `ReviewNB`:
![image](https://user-images.githubusercontent.com/27533405/91273829-6308c180-e7b0-11ea-97f6-08e1e39b3ab7.png)

Thanks.

[2020-08-26 07:26] #7 closed

[2020-08-26 07:48] wyli commented on #7
https://app.reviewnb.com/Project-MONAI/Tutorials/

[2020-08-26 11:13] rijobro commented on #2
As well as categories, it might be a good idea to start with e.g., `nifti_read_example.ipynb` and `3d_image_transforms.ipynb` to get a feel for some building blocks before moving into whole networks.

[2020-08-28 19:44] wyli commented on #3
fixed by https://github.com/Project-MONAI/Tutorials/pull/11

[2020-08-28 19:44] #3 closed

[2020-09-01 11:35] kissievendor opened #14 "ROI size sliding window"
Hi,
I was wondering how UNet deals with the sliding window input.
Because the ROI you set is bigger than the patches UNet is trained on.
How does this work?

Thanks.
Kirsten

[2020-09-02 09:54] rijobro opened #16 "Explicit for-loop optimisation or SupervisedTrainer"
It seems that in the majority of tutorials, the optimisation for loop is given explicitly. In relatively few places, the `SupervisedTrainer` is used, despite existing for this reason.

I can see why having the explicit for loop is beneficial for tutorials - so that people are more aware of the inner workings. However, for the sake of conciseness, I would be in favour of having just one notebook (n

[2020-09-02 09:57] rijobro commented on #16
Example of notebook with explicit for loop: https://github.com/Project-MONAI/Tutorials/blob/master/brats_segmentation_3d.ipynb
Example of notebook with `SupervisedTrainer`: https://github.com/Project-MONAI/Tutorials/blob/master/models_ensemble.ipynb

[2020-09-02 10:34] wyli commented on #16
Thanks for bringing this up! Earlier we had the feedback from the users saying that they don't want to spend time to learn yet another framework (referring to the `monai.engines` and `monai.handlers` mechanism), we therefore create those explicit forloop examples to show that many of the monai components work well in a 'vanilla' pytorch script.
Now we might have too many such examples. Perhaps we

[2020-09-02 10:41] wyli opened #17 "Tutorial for the image readers and the LoadImage transform"
As the experimental new APIs have been implemented for MONAI I/O https://github.com/Project-MONAI/MONAI/issues/909
this ticket looks for a tutorial to show that:
- the image reader APIs could be used independently as file format specific loaders
- LoadImage transform could be used as a format-agnostic module, typically as the first transform in a 'transform chain'

(might be useful to briefly ment

[2020-09-02 11:33] Nic-Ma commented on #14
Hi @wyli ,

Could you please help explain something in theory from the researcher aspect?

Thanks.

[2020-09-02 11:35] Nic-Ma commented on #16
Sounds reasonable!
We should rearrange examples first then let's discuss the tutorials.
Thanks.

[2020-09-06 21:34] neuronflow opened #18 "[Question] augmentation tutorial, how to deal with labels?"
I am trying to implement torchio and batchgenerators augmentations following this tutorial:
https://github.com/Project-MONAI/Tutorials/blob/master/integrate_3rd_party_transforms.ipynb

The spatial transformations should also affect my label maps, however I don't want to use linear or bspline interpolation which makes sense for image data for my label maps. What is the best way to implement that?

[2020-09-06 23:40] Nic-Ma commented on #18
Hi @neuronflow ,

Thanks for your experiments with MONAI.
May I know which `transforms` do you use here? For spatial transforms in MONAI, you can set different interpolation methods for different keys, for example:
[code]

Thanks.

[2020-09-06 23:50] ericspod commented on #18
To apply some interpolation to label maps, I would suggest converting them to one-hot encoded format and apply whatever mode you use with the images, afterwards reconstituting the original label map with argmax. Usually this produces good results with smooth edges and does not introduce holes in between adjacent labels. We might need to work on specific transforms to do these conversions however.

[2020-09-07 09:02] neuronflow commented on #18
Thanks for the quick responses, for native transforms it works as @Nic-Ma suggested. My question is how to make it work for third party party transforms. Here an example from torchio:
[code]
Unlike for the spatial MONAI transforms I can only supply a single string and not a tuple for the `image_interpolation` parameter.
My labels are already one-hot encoded. Applying argmax after the interpolation

[2020-09-07 16:25] wyli commented on #17
fixed by https://github.com/Project-MONAI/Tutorials/pull/19

[2020-09-07 16:25] #17 closed

[2020-09-10 19:56] neuronflow commented on #18
any news on this? I also asked in the torchio forums:
https://github.com/fepegar/torchio/issues/221#issuecomment-687671751
I don't know how I can apply the suggested solution in the MONAI universe

Meanwhile I tried to replace the tio RandomAffine, and RandomElasticDeformation with the MONAI equivalents.  I experimented with different `sigma_range` and `magnitude_range` values. Is there a rule of

[2020-09-10 20:48] neuronflow commented on #18
I think I solved it by implementing a custom transform, wrapping around it! :)

[code]

[2020-09-10 22:46] Nic-Ma commented on #18
Cool! sounds good.

[2020-09-14 10:50] wyli opened #21 "show the dicom loading usage"
would be great to extend the https://github.com/Project-MONAI/Tutorials/blob/master/load_medical_images.ipynb to load DICOM

see also https://github.com/Project-MONAI/MONAI/issues/1032

[2020-09-14 12:15] Nic-Ma commented on #21
Hi @wyli ,

Will save synthetic data into DICOM format and read it by LoadImage.
But we need to solve below 3 issues of ITK first:
1. All ImageReaders can't support multi-threads, PR under review.
2. ITK itself can't support multi-threads, submitted issue to ITK repo, waiting for solution.
3. ITK image orientation and shape is not aligned with our existing data, using `C_order` is wrong as @ericsp

[2020-09-21 08:53] Nic-Ma commented on #21
Close as we merged the PR.
Thanks.

[2020-09-21 08:53] #21 closed

[2020-09-21 22:06] dzenanz opened #28 "Crash in spleen 3D segmentation tutorial"
**Describe the bug**
Trying to follow https://github.com/Project-MONAI/tutorials/blob/17bf2ec91e2871898198084f4ba5e968c2bef47e/3d_segmentation/spleen_segmentation_3d.ipynb I run into a traceback at step "Execute a typical PyTorch training process".

**To Reproduce**
I installed everything using pip, in a virtual environment. I needed to [allow](https://github.com/dzenanz/tutorials/blob/5ff52aa0a5f

[2020-09-21 22:09] wyli commented on #28
this might be useful? https://github.com/Project-MONAI/MONAI/wiki/Frequently-asked-questions-and-answers#q5-when-running-the-jupyter-notebook-examples-why-does-it-raise-pickling-errors-such-as-_picklepicklingerror-cant-pickle-function-cropforegroundd-at-0x000001e

[2020-09-23 17:16] dzenanz commented on #28
Yes, changing `num_workers=4` into `num_workers=0` fixes the crash. Thanks!

[2020-09-23 17:16] #28 closed

[2020-09-23 20:55] dzenanz opened #31 "Spleen example crashes if I modify it to use different input dataset"
**Describe the bug**
The example crashes. I tried different `roi_size`s, but setting e.g. `(-1, -1, -1)` just postpones the crash for later in the process.

**To Reproduce**
Run [my notebook](https://github.com/dzenanz/tutorials/blob/3e89c33bca3c8d21892911214ae8410ddcfd1a93/3d_segmentation/Seg3D_IXI_Tiny.ipynb) which is a modified copy of the spleen example.

**Expected behavior**
Training finishe

[2020-09-23 23:17] YuanTingHsieh commented on #14
From what I understand, UNet is consists of CNNs.
So it can take input of different shape.
Like you trained it in [96, 96, 96], but you can inference it in [160,160,160] cubes.

The advantage of inference it using larger cubes is that you get faster inference speed.

Please correct me if I am wrong @wyli

[2020-09-23 23:24] #14 closed

[2020-09-23 23:28] YuanTingHsieh commented on #31
After your chain of transforms,
Is the data has same dimension?
Seeing from your code your first image is [44, 55, 83], is the second image the same size as this?

Like in the original spleen example, we use
[code]

This ensures that the data passed in will be in batches of [96, 96, 96] cubes.

[2020-09-28 23:35] wyli opened #33 "double check all examples/tutorials"
since there're breaking changes since v0.2, we need to rerun and double-check all the examples/tutorials for v0.3

[2020-09-29 00:20] wyli opened #34 "rename the modules/workflows folder to modules/engines"
the folder mainly demonstrate MONAI's engines and handlers implementation
cc @pfjaeger @zephyrie @Nic-Ma

[2020-09-29 09:58] wyli commented on #34
fixed by  https://github.com/Project-MONAI/project-monai.github.io/pull/11
https://github.com/Project-MONAI/MONAI/pull/1078
https://github.com/Project-MONAI/tutorials/pull/35

[2020-10-01 16:15] #34 closed

[2020-10-03 17:28] wyli opened #42 "fixing the conda env"
**Is your feature request related to a problem? Please describe.**
would be great to fix the Anaconda Python distribution with a predefined yml file, such as
https://github.com/Project-MONAI/MONAIBootcamp2020#instal-local-environment

[2020-10-04 16:19] #33 closed

[2020-10-04 16:22] wyli commented on #2
the codebase is now restructured, I'm closing this ticket, please open new ones for further issues

[2020-10-04 16:22] #2 closed

[2020-10-04 17:32] #18 closed

[2020-10-05 08:27] kissievendor commented on #14
Thank you. Do you have some sort of article? Because everything I am reading suggest to use same size. Also, when using a larger sliding window, my results can differ dramatically.

[2020-10-06 15:58] dzenanz commented on #31
The images have the same dimensions after the transforms. Updated notebook is [here](https://github.com/dzenanz/tutorials/blob/ixi_tiny/3d_segmentation/Seg3D_IXI_Tiny.ipynb). Adding
[code]
produces the output:
[code]

[2020-10-14 14:49] rijobro opened #45 "3d classification no data download"
**Describe the bug**
All 3D classification tutorials assume that the data is in `'workspace/data/medical/ixi/IXI-T1/`, but none do the download.

**To Reproduce**
1. Load any 3D classification tutorial and run.

**Expected behavior**
Tutorial should be able to run the whole way through without user intervention.

**Environment (please complete the following information):**
N/A

[2020-10-17 17:01] wyli opened #46 "Develop FL example based on Clara FL"
Is your feature request related to a problem? Please describe.
(originally from https://github.com/Project-MONAI/MONAI/issues/498 )We can use MONAI to build many FL examples based on different FL architectures, this issue is to track the development of an example based on NVIDIA Clara FL.

[2020-10-19 19:21] YuanTingHsieh commented on #31
Hi
The problem is the data shape changed after down-sample then up-sample.

You can take a look at the answer here: https://stackoverflow.com/questions/60063797/not-understanding-the-data-flow-in-unet-like-architetures-and-having-problems-wi
and here: http://makeyourownneuralnetwork.blogspot.com/2020/02/calculating-output-size-of-convolutions.html

So you will need to do some calculations and get

[2020-10-19 20:22] dzenanz commented on #31
Thank you! That was the problem. Adding `DivisiblePadd` with `k=32` solves it.

[2020-10-19 20:22] #31 closed

[2020-10-26 16:22] catskillsresearch opened #48 "Error adapting Spleen example to different shaped dataset"
**Describe the bug**
I am trying to adapt the spleen_segmentation_3d.ipynb notebook to imaging data with a slightly different shape.  The images in the Spleen set are 226x257 with 113 planes in the stack.  My images are 1200x340 with 20 planes in the stack.  The notebook samples the data in cubes of size 96x96x96.  To get the example notebook to work, I have to duplicate my data on the planes to b

[2020-10-26 18:34] ericspod commented on #48
I suspect your network configuration isn't compatible with patches that are that small. You're creating your UNet with

[code]

With this configuration your network will have 5 layers and with strides of 2 for each downsampling you will halve the spatial dimensions of the input image 4 times. This means your image sizes in the network are `20**3 -> 10**3 -> 5**3 -> 2**3 -> 1**3`. Attempting to ups

[2020-10-26 18:52] catskillsresearch commented on #48
Thanks very much Eric.  There are 20 planes in the MRI.  Should I be trying to "thicken" the plane volumes so that they correspond more to the physical dimensions of the X-Y plane, or is that irrelevant?  If so, how do I do that?  My MRI images are 20 NumPy bitmaps.  I think something like this is done in the Spleen tutorial notebook here:

`Spacingd(keys=["image", "label"], pixdim=(1.5, 1.5, 2.0)

[2020-10-26 20:03] ericspod commented on #48
For `Spacing` you provide a multiple which reduces the size so if you want to go from 1200x340x20 to 1200x340x40 you want something like this:

[code]

For using `Spacingd` you would have the same `pixdim` values as this example.

I'm honestly not sure what to comment on your particular problem, I shall ask my colleagues to see if anyone has something specific to this particular segmentation probl

[2020-10-26 20:52] catskillsresearch commented on #48
Thanks Eric!  Intuitively I don't think it should matter. The [spleen tutorial ](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d.ipynb)has the `pixdim=(1.5, 1.5, 2.0)`.  I'm curious what motivated that.  It seems like they were doing it to reduce the size of the inputs:

[code]

[2020-10-27 12:22] rijobro opened #50 "Pip installs at start of each notebook?"
Should we be pip installing `monai` and its dependencies at the start of each notebook?

Discussion continued from https://github.com/Project-MONAI/tutorials/pull/47.

My personal feeling is that we should lift all `pip install`s from our notebooks as the relevant instructions are already in our [README.md](https://github.com/Project-MONAI/tutorials/blob/master/README.md). It also saves us from ha

[2020-10-27 12:30] Irme commented on #48
Hello!
I work with sparse data (cerebral microbleed segmentation), and I would recommend you look into the following:
- sampling techniques: oversampling the minority class. This is an easy way of balancing the dataset, but may increase false positive predictions or overfitting.
- data augmentation: in particular in combination with a good sampling technique, this can be a very powerful tool. Data

[2020-10-28 01:31] catskillsresearch opened #51 "Do data transforms happen on every yield from the train loader or once at load time?"
**QUESTION 1:**

 When I apply a list of transforms as in the Spleen tutorial notebook, do they happen once here:

`train_ds = CacheDataset(data=train_files, transform=train_trans, cache_rate=1.0, num_workers=8)`

Note that it says

`Load and cache transformed data: 100%|██████████| 41/41 [00:15<00:00,  2.65it/s]`

The past tense "transformed" seems to indicate that transformations only happen onc

[2020-10-28 15:43] catskillsresearch commented on #48
@Irme thanks.  Please consider joining the CTF NF Hackathon which is still open and has plenty of medical data. Here are some details:

[https://nfhack-platform.bemyapp.com/#/event](https://nfhack-platform.bemyapp.com/#/event)
We have more than 500 participants registered from around the world as well as more than 40 mentors and 21 projects in progress. Registration remains open throughout the Hac

[2020-11-03 21:16] ericspod commented on #51
What `CacheDataset` will do is cache the results from the transform sequence up to the first transform which is randomized or is not recognized as deterministic. For question 1 this means part of the transform sequence is run on each data request. For question 2 we're exploring how to do transforms in GPU, alternatively `ThreadBuffer` can be used to parallelize the batch generation with training w

[2020-11-03 22:54] catskillsresearch commented on #51
When the DRAM goes up as in the 3090 it will be possible to do a lot more on the GPU, so more transforms should be pipelined into the GPU.  I guess I'm asking that whether NVidia programs a library with transforms they should always make a GPU-enabled version, in anticipation for when those large DRAM boards become more prevalent.

As a case in point, someone actually ran a program entirely in DRA

[2020-11-05 02:08] Nic-Ma commented on #50
Hi @wyli and @ericspod ,

Should we raise a discussion about this topic in next MONAI meeting?
Thanks.

[2020-11-05 02:10] Nic-Ma opened #56 "missing colab button and install part in ThreadBuffer notebook"
**Describe the bug**
Hi @ericspod , could you please help add the Colab button and installation from latest MONAI code(as we haven't released 0.4 yet) to the ThreadBuffer notebook?
Thanks.

[2020-11-05 12:37] wyli commented on #50
we've discussed this in the meeting already, the solution is to tag a branch such as v0.3.0, which will depend on `pip install monai==0.3.0`. and the master branch depends on `pip install git+https://github.com/Project-MONAI/MONAI#egg=MONAI`.

we need some CI tests to ensure the master branch works fine

[2020-11-05 18:01] #56 closed

[2020-11-06 16:05] wyli commented on #50
Just pushed 0.3.0 tag https://github.com/Project-MONAI/tutorials/tree/0.3.0,
so for the users with pip install monai==0.3.0, they should check out this link, instead of the tutorial's master branch.

[2020-11-09 13:51] Ordgod opened #60 "TypeError: __init__() got an unexpected keyword argument 'to_onehot_y'"
**Describe the bug**
The code from [A U-Net model for lung lesion segmentation from CT images](https://github.com/Project-MONAI/tutorials/tree/master/3d_segmentation/challenge_baseline/) could not be runned.

The error information is: `TypeError: __init__() got an unexpected keyword argument 'to_onehot_y'`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://github.com/Project-MON

[2020-11-09 13:55] Ordgod opened #61 "AttributeError: module 'monai.networks.nets' has no attribute 'BasicUNet'"
**Describe the bug**
The code from [A U-Net model for lung lesion segmentation from CT images](https://github.com/Project-MONAI/tutorials/tree/master/3d_segmentation/challenge_baseline/) could not be runned.

The error information is: `TypeError: __init__() got an unexpected keyword argument 'to_onehot_y'`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://github.com/Project-MON

[2020-11-09 14:22] Nic-Ma commented on #60
Hi @Ordgod ,

This is a known issue, @yiheng-wang-nv is working on it to update all the tutorials and examples.
Please use the code under tag `0.3.0` instead of the master branch.

Thanks.

[2020-11-09 14:26] wyli commented on #60
I'm currently working on a fix for the baseline. cc @yiheng-wang-nv @Nic-Ma (v0.3.0 won't work as we created a new network instance for it.)

[2020-11-09 14:36] Nic-Ma commented on #60
OK, I see. This is the new added tutorial.
@yiheng-wang-nv is already working on a PR to update all the notebooks and examples, will finish it soon.

Thanks.

[2020-11-09 16:13] #60 closed

[2020-11-09 16:14] wyli commented on #61
thanks for reporting, that baseline script won't work with `pip install monai` at the moment, because we haven't included it in the milestone release.

[2020-11-09 16:14] #61 closed

[2020-11-10 01:53] Nic-Ma commented on #45
Hi @rijobro ,

If you run from https://github.com/Project-MONAI/tutorials/blob/master/runexamples.sh, it will download data first.
Thanks.

[2020-11-10 01:55] Nic-Ma commented on #50
Sounds good! Thanks @wyli

[2020-11-10 02:01] Nic-Ma commented on #51
Hi @catskillsresearch ,

Thanks for your suggestion.
Some of the transforms can run on GPU now, most of them are still based on numpy, so they can only run on CPU.
We will try to enable more transforms on GPU later when **PyTorch tensor operations** become more stable and faster.

Thanks.

[2020-11-10 09:12] rijobro commented on #45
Ok thanks. Is this mentioned somewhere? I guess it should be in the `README`.

[2020-11-10 09:34] #45 closed

[2020-11-10 11:01] mangotee opened #65 "How to handle RGB 2D images"
**Describe the bug**
I just tried running the 2D segmentation tutorial, but on my own 2D images (a mixed dataset of TIFF, PNG, JPG and BMP images). I ran into several problems, e.g. LoadPNGd cannot handle TIFF images, the rest of the transform pipeline throws an error (I think PIL loads TIF images in a different way than others - I usually use `skimage.io`, which always returns a numpy array). The

[2020-11-10 11:24] ericspod commented on #65
TIFF files are often an issue since it's just a broad definition. Typically we want to get 3D images from photographi files with shape (width, height, channel) where channel is 3 for RGB or 4 for RGBA typically. There are more exotic formats that will have 2 channels for alpha+luminance or other things, but TIFF and others might have a shape (width, height) if they are just greyscale. One solution

[2020-11-10 11:59] mangotee commented on #65
Yes, adding `AsChannelFirstd(keys=["img", "seg"])` to the transforms list did the trick.
Thanks also for the info regarding TIFFs. It's an image format that I come across rarely. I realized that LoadImaged (ITK image loader) can handle TIFs nicely, and I wrote a class that converts it numpy and makes sure that there are 3 color channels... but in the end I just decided to convert those few TIFFs i

[2020-11-10 11:59] #65 closed

[2020-11-10 16:01] Ordgod opened #66 "MONAI flags: HAS_EXT = False, USE_COMPILED = False"
What does this line meaning??
I wanted to reproduce the [baseline lesion network](https://github.com/Project-MONAI/tutorials/tree/master/3d_segmentation/challenge_baseline)
Every time I started training, this line occured. Is there something wrong??

[2020-11-10 21:16] aficionadoai opened #67 "U-Net model for lung lesion segmentation model does not run using colab"
I tried running the following command `python run_net.py train --data_folder "COVID-19-20_v2/Train" --model_folder "runs"` per the instructions and I get the output below in example A. It The  model does not seem to be training. I also tried running the inference command `python run_net.py infer --data_folder "COVID-19-20_v2/Validation" --model_folder "runs"` and I get the error in example B.

Whe

[2020-11-10 21:38] wyli commented on #67
for your reference the expected training outputs would be something like:
[code]

[2020-11-10 21:50] wyli commented on #66
thanks for the question. that's expected, those flags are reserved for some future c++/cuda based features (https://github.com/Project-MONAI/MONAI/tree/master/monai/csrc) which are currently experimental.

[2020-11-10 21:50] #66 closed

[2020-11-10 21:57] aficionadoai commented on #67
@wyli

Thank you! Right now, I trying to figure out why I am getting `^C` right after `BasicUNet features: (32, 32, 64, 128, 256, 32).`. That is the part that I'm trying to figure out.

[2020-11-10 22:05] wyli commented on #67
I haven't tried it with a colab instance, but perhaps you need to put
[code]
as the very first cell

[2020-11-10 22:15] aficionadoai commented on #67
@wyli

I'm testing it out now to see if that works.

[2020-11-10 22:24] aficionadoai commented on #67
Using it on the first cell in Cola doesn't work

[2020-11-10 22:40] aficionadoai commented on #67
@wyli

Tentatively I think it may because I'm running into out of memory in Colab.

[google colab setting a '^C' in the proccess](https://stackoverflow.com/questions/52937685/google-colab-setting-a-c-in-the-proccess)

[Colab finishes with a ^C](https://stackoverflow.com/questions/58889498/colab-finishes-with-a-c)

[2020-11-10 22:48] wyli commented on #67
ok if that's the case, perhaps you could reduce the number of features for the network `features=(32, 32, 64, 128, 256, 32),`
btw the full training will take more than 24 hours, I'm not sure whether the colab instance supports this type of long session

[2020-11-11 19:59] #51 closed

[2020-11-11 20:00] #67 closed

[2020-11-19 04:47] rashidch opened #69 "Crashed (Baseline Unet model training for Covid-19 sementation challenge)"
(pytorch) rasho@rasho-WS-E500-G5-WS690T:~/covid-19_3D_Segmentation$ python run_net.py train --data_folder "COVID-19-20_v2/Train" --model_folder "runs"
MONAI version: 0.3.0+81.g62b0bbb
Python version: 3.7.9 (default, Aug 31 2020, 12:42:55)  [GCC 7.3.0]
OS version: Linux (5.4.0-53-generic)
Numpy version: 1.19.2
Pytorch version: 1.7.0
MONAI flags: HAS_EXT = False, USE_COMPILED = False

Optional depen

[2020-11-19 04:50] rashidch commented on #69
Model training crashed after few iterations without showing any error. Can anyone tell the reason why it is crashed?

[2020-11-19 09:14] natacanta5 opened #70 "WASSERTEIN distance"
Hello, I wanted to ask if anyone has used Wasserstein distance in brain different structures segmentation because I have some issues. For example, the argument that I should pass to my pipeline is a matrix distance and I would like to know how I construct this matrix, I don't know where those numbers come from. And the other question if is the loss of Wasserstein distance is finished and prove in

[2020-11-19 19:01] ericspod commented on #69
I can't see anything in the printout that would indicate why this crash occurred. What hardware are you using? What software libraries other than those listed here? What distro? If the job was killed without any error output it could be driver or hardware related.

[2020-11-20 00:26] aficionadoai commented on #67
@wyli I was able to get it working with colab. You have to increase the RAM.

[2020-11-21 17:31] anirban1513 opened #71 "The Code used for the training stops"
!python run_net.py train --data_folder "COVID-19-20_v2/Train" --model_folder "runs"

Code cell stops after showing this result. Don't know what should I do next, How can I find the models?

MONAI version: 0.3.0+87.ge94e243
Python version: 3.6.9 (default, Oct  8 2020, 12:12:24)  [GCC 8.4.0]
OS version: Linux (4.19.112+)
Numpy version: 1.18.5
Pytorch version: 1.7.0+cu101
MONAI flags: HAS_EXT = False

[2020-11-21 17:36] wyli commented on #71
see https://github.com/Project-MONAI/tutorials/issues/67

[2020-11-21 17:36] #71 closed

[2020-11-21 17:37] wyli commented on #70
see https://github.com/Project-MONAI/MONAI/issues/1267

[2020-11-21 17:37] #70 closed

[2020-11-24 14:30] anirban1513 opened #72 "Runtime error in the Code. I am using Colab with reduced data in train and validation set. And i set the epoch to 100. But this happens"
INFO:ignite.engine.engine.SupervisedTrainer:Epoch: 5/100, Iter: 21/66 -- train_loss: 0.8563
ERROR:ignite.engine.engine.SupervisedTrainer:Current run is terminating due to exception: DataLoader worker (pid 1476) is killed by signal: Killed. .
ERROR:ignite.engine.engine.SupervisedTrainer:Exception: DataLoader worker (pid 1476) is killed by signal: Killed.
Traceback (most recent call last):
  File "/

[2020-11-25 07:05] Leong1230 opened #74 "Log and plotting result for training proccess"
Thank you for the tutorials!

I can't find any log files saved in ./run and it seems that this part is not included in the code.  (./3d_segmentation/baseline)
It would be much clearer if the training information is saved and plotted.

Anthor question is that, do the images under 'Validation' folder have labels (groung truth?) and where is it?

Thank you!

[2020-11-26 12:37] massimilianoporzio opened #75 "LR SCHEDULER and LR Finder"
It would be nice to have examples on how to use Learning rate schedulers using the MONAI classes. And It would be nice to have a LR finder like the FASTAI one cycle one.

[2020-11-26 17:48] wyli commented on #75
let's track the progress with https://github.com/Project-MONAI/MONAI/issues/1014

[2020-11-26 17:48] #75 closed

[2020-11-26 17:48] #69 closed

[2020-11-27 10:19] wyli commented on #74
Hello! we'd like to keep that baseline minimal, so there's no plan to add more visualisation functionality.
for tensorboard eventhandlers please search through this repo, there are plenty of tutorials: https://github.com/Project-MONAI/tutorials/search?q=tensorboard

[2020-11-27 10:20] wyli commented on #74
the 'validation' here is not to be confused with the challenge's validation data, it's a local 80/20 train/val split: https://github.com/Project-MONAI/tutorials/blob/db4bf838c07c628b3887ba1bb56fc5dd687a1c5b/3d_segmentation/challenge_baseline/run_net.py#L135-L138

[2020-11-27 10:20] #74 closed

[2020-11-27 10:22] wyli commented on #50
this makes Colab not directly runnable. so we need some instructions for colab user to manually add a  `%pip install monai`  cell

[2020-11-27 10:23] #48 closed

[2020-12-02 10:03] wyli opened #76 "a tutorial of GradCAM"
GradCAM module is inplace, would be great to have a 3D classification model demo, with a medical image related task

https://github.com/Project-MONAI/MONAI/pull/1303

[2020-12-02 10:13] Nic-Ma opened #77 "Update to use LoadImage transform"
**Is your feature request related to a problem? Please describe.**
As we updated `LoadImage` as the recommended loading method, need to update all the examples and tutorials.

[2020-12-02 13:59] sekh77 opened #78 "ValueError while training the model for Brain Tumor Segmentation"
Hi there -

I'm new to MONAI and doing some learning of the brain tumor segmentation code - referring to the file brats_segmentation_3d.ipynb under tutorials/3d_segmentation. I'm using this code AS-IS in my Jupyter Notebook. While training on the Medical Decathlon dataset, exactly after epoch 2 I see the following error:

_epoch 2 average loss: 0.8960
----------------------------------------------

[2020-12-02 14:04] Nic-Ma commented on #78
Hi @sekh77 ,

Thanks for your bug report, this is compatible issue with latest MONAI code, I will fix it tomorrow.
Please install `monai==0.3.0` as it's the stable version.

Thanks.

[2020-12-02 14:13] Nic-Ma commented on #78
Hi @yiheng-wang-nv ,

I am afraid maybe your previous mdification to `not_nans` also breaks other tutorials, could you please help double confirm all the tutorials and examples which used `DiceMetric`?

Thanks.

[2020-12-02 14:14] sekh77 commented on #78
Hi @Nic-Ma -

This is the config report, and I see that I'm already on 0.3.0.

MONAI version: 0.3.0+29.g56dd27a
Python version: 3.7.7 (default, May  7 2020, 21:25:33)  [GCC 7.3.0]
OS version: Linux (5.4.0-1031-azure)
Numpy version: 1.18.1
Pytorch version: 1.6.0
MONAI flags: HAS_EXT = True, USE_COMPILED = False

Optional dependencies:
Pytorch Ignite version: 0.4.2
Nibabel version: 3.2.0
scikit-imag

[2020-12-02 14:15] Nic-Ma commented on #78
Hi @sekh77 ,

This is not exact 0.3.0, please try to use `pip install monai==0.3.0`.
Thanks.

[2020-12-02 14:23] sekh77 commented on #78
Ok, sure! Thank you.

Sekhar H.

[2020-12-02 14:31] sekh77 commented on #78
Hi @Nic-Ma -

I reinstalled MONAI to 0.3.0. But I still see exactly the same error after epoch 2. Here's my new config report:

MONAI version: 0.3.0
Python version: 3.7.7 (default, May  7 2020, 21:25:33)  [GCC 7.3.0]
OS version: Linux (5.4.0-1031-azure)
Numpy version: 1.18.1
Pytorch version: 1.6.0
MONAI flags: HAS_EXT = False, USE_COMPILED = False

Optional dependencies:
Pytorch Ignite version: 0.

[2020-12-02 14:37] sekh77 commented on #78
Here's the error after reinstalling to 0.3.0:

epoch 2 average loss: 0.9216
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-10-9a667257090b> in <module>
     49                 val_outputs = post_trans(val_outputs)
     50                 # compute overall mean dice
---> 51

[2020-12-02 14:58] Nic-Ma commented on #78
Hi @sekh77 ,

Sorry I didn't make it clear, you should also update this tutorial repo to use tag 0.3.0.

Thanks.

[2020-12-02 16:29] sekh77 commented on #78
How do I do that? I downloaded the file - brats_segmentation_3d.ipynb - locally into my VM, and running it using my Jupyter Notebook.

Thanks,
Sekhar H.

[2020-12-02 16:55] jwutsetro opened #79 "Soft labels to reflect uncertainty on boundary of ground truth annotation"
Hey all,

I am currently using monai to participate in the grand challenge for COVID segmentation. As a baseline model I use the DynUnet with parameters adapted from nn-Net. This works great and gave me a validation dice of around 0.7. To further improve the results I wanted to focus on handeling the noisy ground truth annotations. Since the ground truth annotations from this project are not reall

[2020-12-02 17:29] #79 closed

[2020-12-03 07:44] #78 closed

[2020-12-06 16:34] Meddebma commented on #78
Hi,

I'm using google colab and I tried to make the same training and evaluation with my own spleen dataset, but I've got the same problem after the 2nd epoch.
I reinstalled monai with the Version 0.3.0 but I still get this error after the 2nd epoch:
"ValueError: not enough values to unpack (expected 2, got 1)"
Is it already debugged or what should I wait?

Thanks
Aymen

[2020-12-07 09:29] #77 closed

[2020-12-07 16:00] sekh77 commented on #78
Hi @Nic-Ma -

Is this issue already fixed? Can I use the latest version?

Thanks,
Sekhar H.

[2020-12-07 16:18] Nic-Ma commented on #78
Hi @sekh77 ,

Yes, I think so, you can use either the latest MONAI and latest tutorial, or MONAI 0.3 and tutorial 0.3.

Thanks.

[2020-12-08 10:11] Meddebma commented on #78
Hi @sekh77,

did it work for you? I still have the same problem after installing MONAI 0.3 :/

Thanks,
Aymen

[2020-12-08 10:14] yiheng-wang-nv commented on #78
Hi, which tutorial version you used under MONAI 0.3? Could you please attach the error here? The MONAI version as well as the tutorial version should be consistent.

[2020-12-08 10:42] Meddebma commented on #78
Hi @yiheng-wang-nv

here is the link:
https://github.com/Meddebma/pyradiomics/blob/master/Spleen_dict.ipynb

thanks!

[2020-12-08 10:48] yiheng-wang-nv commented on #78
I see, the code is the updated version that the dice metric will return two values. Please install the latest MONAI and run your notebook.

[2020-12-08 10:51] Meddebma commented on #78
I did it in the beginning of code with:  %pip install monai==0.3.0
should l do it differently?

Thanks @yiheng-wang-nv

[2020-12-08 10:57] yiheng-wang-nv commented on #78
Please use the commented line instead:
`pip install git+https://github.com/Project-MONAI/MONAI#egg=MONAI`

[2020-12-08 11:12] Meddebma commented on #78
I just did it, I still have the same issue :/

https://github.com/Meddebma/pyradiomics/blob/master/Spleen_dict.ipynb

[2020-12-08 11:15] yiheng-wang-nv commented on #78
According to the log in your link:
`Requirement already satisfied: MONAI from git+https://github.com/Project-MONAI/MONAI#egg=MONAI in /usr/local/lib/python3.6/dist-packages (0.3.0)`
Since your device already has MONAI 0.3.0, the latest version would not be installed.
Could you please uninstall MONAI 0.3.0 first, and then install the latest one?

[2020-12-08 11:46] Meddebma commented on #78
Hi @yiheng-wang-nv
It worked very well thank you :)
Only the plotting of the GIF did not work, should I change something to see the visual output?
Thanks!

[2020-12-08 13:42] Sebagam opened #82 "ITK version: NOT INSTALLED or UNKNOWN VERSION"
Dear all,

After pip installing ITK or SimpleITK the "print_config()" prompt does not find the installed ITK version.
Moreover, while executing the "densenet_training.array.ipynb" tutorial I get this error:

Load and cache transformed data:   0%|          | 0/9 [00:00<?, ?it/s]
---------------------------------------------------------------------------
OptionalImportError                       Tra

[2020-12-08 14:13] Nic-Ma commented on #82
Hi @Sebagam ,

I think you are using MONAI 0.3 and run the example in 0.3 tag.
Could you please help uninstall and use the below command to install again?
[code]

Thanks.

[2020-12-08 14:32] Sebagam commented on #82
Thanks, now Monai recognizes ITK.

However, now I get this error while executing that tutorial:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-7-8b8b6b3d911e> in <module>()
     33 check_ds = NiftiDataset(image_files=images, labels=labels, transform=train_transforms)
     34 che

[2020-12-08 14:46] Nic-Ma commented on #82
Are you using MONAI docker or installed all the `requirements.txt` locally?
Could you please help call below code to provide the env details?
[code]

Thanks.

[2020-12-08 14:49] Sebagam commented on #82
Sure, this is my config

MONAI version: 0.3.0
Python version: 3.6.9 (default, Oct  8 2020, 12:12:24)  [GCC 8.4.0]
OS version: Linux (4.19.112+)
Numpy version: 1.18.5
Pytorch version: 1.7.0+cu101
MONAI flags: HAS_EXT = False, USE_COMPILED = False

Optional dependencies:
Pytorch Ignite version: NOT INSTALLED or UNKNOWN VERSION.
Nibabel version: 3.0.2
scikit-image version: 0.16.2
Pillow version: 7.0.

[2020-12-09 03:19] Nic-Ma commented on #82
Hi @Sebagam ,

I think Wenqi's PR can fix your problem.
Could you please update to use the latest MONAI master code and latest tutorial example?
You can install from latest source by command:
[code]

Thanks.

[2020-12-09 11:06] Sebagam commented on #82
Hi, one last thing.

I'm trying to run the code on Google Colab.
I have been also executing that line to install the latest version.
Maybe you could consider uploading the tutorials to Colab and testing them
there?

Thanks,
Sebastian

On Wed, Dec 9, 2020 at 12:20 AM Nic Ma <notifications@github.com> wrote:

[2020-12-09 15:38] rijobro commented on #76
Hi, I'll look into this. Can you remind me which dataset we agreed to use? It was a small 3D dataset.

[2020-12-09 15:39] wyli commented on #76
Hi @rijobro I'm working on this and I'm going to submit a PR for your review soon

[2020-12-10 13:21] patriciacs1994 commented on #82
Hello @Nic-Ma.
I am getting the same error when I try to use Resize transformation like this:
[code]
ValueError: Caught ValueError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "C:\Users\PASI\AppData\Local\Programs\Python\Python36\lib\site-packages\monai\transforms\utils.py", line 309, in apply_transform
    return transform(data)
  File "C:\Users\PASI\AppData\

[2020-12-10 13:42] Nic-Ma commented on #82
Hi @patriciacs1994 ,

I think you may have some compatible issue in your python env.
The easiest solution is to use the latest MONAI docker:
[code]

Thanks.

[2020-12-10 13:43] Nic-Ma commented on #82
Hi @Sebagam ,

Thanks for your suggestion, I will update the notebook to add the Colab link soon.

[2020-12-10 13:53] #82 closed

[2020-12-10 16:29] patriciacs1994 commented on #82
Hi Nic-Ma,
I don't have any experience with Docker.
There is not a requirements.txt file available?
I could create a new environment and install all the requirements for MONAI.
Do you think it could work?

Thank you

[2020-12-11 10:20] Sebagam opened #86 "3D Classifier"
Dear all,

I'm adapting the 3D classifier tutorial "densenet_training" to my example files.
My nifti files have a different size, so I get this error when doing the input to the model:

Expected 5-dimensional input for 5-dimensional weight [64, 1, 7, 7, 7], but got 4-dimensional input of size [2, 224, 224, 160] instead

How can I modify the code so I can test the tutorial on my files?

Thanks

[2020-12-12 05:50] luozuo commented on #82
Hi, I got the same problem when running brats_segmentation_3d.ipynb.
![image](https://user-images.githubusercontent.com/55926654/101976495-c4ca3a00-3c80-11eb-97bc-dce091018d90.png)
However, I did install itk using %pip install -q "monai[nibabel, tqdm, itk]" in Colab. Any hints on this? Thanks!

[2020-12-12 16:13] massimilianoporzio opened #87 "TensorboardImageHandler for challenge_baseline"
Please can anybody tell me how to use the TensorboardimageHandler for the challnege_baseline script?
What is the output_transform to use?

[2020-12-14 09:51] patriciacs1994 commented on #82
Hi @luozuo,
I solved it.
What I did is create a new environment in Anaconda AGAIN, and execute the following line:
`pip install git+https://github.com/Project-MONAI/MONAI#egg=MONAI` (now it worked)
Later I installed everything I needed.

But, when I tried to run the code in a jupyter notebook the same error showed up, so I executed again this:
`pip install git+https://github.com/Project-MONAI/MONA

[2020-12-14 10:05] luozuo commented on #82
It worked, thx!

[2020-12-14 11:00] Nic-Ma commented on #82
Cool! And thanks @patriciacs1994 for your help here!

[2020-12-14 11:11] Nic-Ma commented on #86
Hi @Sebagam ,

Sorry for the delayed response, thanks for your interest here.
May I know what's the "2" means in your data shape? Seems you missed `channel` dim in your data?
If yes, you need to add `AddChanneld` transform.

Thanks.

[2020-12-14 11:13] Nic-Ma commented on #72
Hi @anirban1513 ,

Thanks for your interest here.
Does it always fail with this error or just happened once?
@wyli , it's very slow for me to open Colab page, if really an error, may need your help to test it.

Thanks.

[2020-12-14 11:17] Nic-Ma commented on #87
Hi @massimilianoporzio ,

Thanks for your interest in MONAI tutorials.
You can refer to this example:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/ignite/unet_training_dict.py#L225

Thanks.

[2020-12-14 11:21] wyli commented on #72
not sure which tutorial this is about, but looks like your system doesnot have enough RAM, please try the PersistentDataset or LMDBDataset https://github.com/Project-MONAI/tutorials/blob/master/acceleration/dataset_type_performance.ipynb

[2020-12-14 11:47] Sebagam commented on #86
Hi Nic-Ma,

My files have 224 x 224 x 160 length, they are T1 nifti files.
I may be dragging an old transform from the tutorial.
Where can I add that transform?

This is the code:

# Define transforms
train_transforms = Compose([ScaleIntensity(), AddChannel(), Resize((96, 96, 96)), RandRotate90(), ToTensor()])
val_transforms = Compose([ScaleIntensity(), AddChannel(), Resize((96, 96, 96)), ToTensor

[2020-12-14 12:28] massimilianoporzio commented on #87
What is output[0] in the example? What the engine of monai outputs? Inviato dal mio telefono Huawei-------- Messaggio originale --------Da: Nic Ma <notifications@github.com>Data: lun 14 dic 2020, 12:17A: Project-MONAI/tutorials <tutorials@noreply.github.com>Cc: MASSIMILIANO PORZIO <massimiliano.porzio@gmail.com>, Mention <mention@noreply.github.com>Oggetto: Re: [Project-MONAI/tutorials] Tensorboar

[2020-12-14 15:11] Nic-Ma commented on #86
Why you defined duplicated datasets?
[code]

Thanks.

[2020-12-14 15:23] Nic-Ma commented on #87
Hi @massimilianoporzio ,

`output` is from this line:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/ignite/unet_training_dict.py#L192
It's a standard ignite API.

Thanks.

[2020-12-14 15:52] Sebagam commented on #86
Sorry, I left one line uncommented.
If I apply the transforms I get this error:

ValueError: recompute_scale_factor is not meaningful with an explicit size.

[2020-12-15 08:44] Meddebma opened #89 "Model fine tuning (Pytorch Lightning)"
I trained the spleen segmentation model for 200 epochs with the decathlon database. Then I evaluated it with my own dataset and the segmentation performance was extremely poor, do you know how I can finetune the model parameters with my own dataset? how should I do that and how many epochs should I do? (My dataset comprehend 20 manually segmented spleens)

Thanks
Aymen

[2020-12-15 11:06] wyli commented on #89
hi @Meddebma there's a finetuning tutorial https://github.com/Project-MONAI/tutorials/blob/master/modules/layer_wise_learning_rate.ipynb using this monai function to assign different learning rates to different layers https://docs.monai.io/en/latest/optimizers.html?highlight=generate_param_groups#monai.optimizers.generate_param_groups

[2020-12-15 11:06] #89 closed

[2020-12-16 10:38] wyli opened #91 "verify notebooks using the latest monai 0.4.0 pypi release"
subtask of https://github.com/Project-MONAI/MONAI/issues/1318
need to
- check that `pip install monai[all]` works for all the notebooks and demos
- tag a 0.4.0 version of this repo

[2020-12-16 10:39] wyli commented on #91
could you help look into this? @Nic-Ma

[2020-12-16 14:03] Nic-Ma commented on #91
Sure, I am working on a PR for it.

Thanks.

[2020-12-16 18:56] wyli commented on #91
thanks @Nic-Ma  I'll double check the colabs

[2020-12-17 09:36] #72 closed

[2020-12-18 11:51] #91 closed

[2020-12-21 18:01] architraj29 opened #93 "Sliding Window Inference giving error on 0.4.0"
Command used for Sliding Window Inference (on Monai 0.4.0 but its working fine on 0.3.0)

### Code Snippet:
---------------------------------------------------------------------------

[code]
Getting same error with and without amp

### Error:
---------------------------------------------------------------------------

AttributeError                            Traceback (most recent call last)
/da

[2020-12-21 18:12] #93 closed

[2020-12-22 17:24] Sebagam commented on #86
Hello,

How can I transform this tensor?
<class 'torch.Tensor'> torch.Size([2, 224, 224, 160]) tensor([1, 1])

Niftiloader adds another dimension to my 224x224x160 structural T1 nifti.
You mentioned using AddChanneld but I don't know how to fit it in the code.

Thanks

[2020-12-23 06:02] Nic-Ma commented on #86
Hi @Sebagam ,

When you define your transform chain, you can put the `AddChannel` transform in it:
[code]

Thanks.

[2020-12-23 14:49] Sebagam commented on #86
I added that transform and I get this error.
I think that there is still something wrong with the tensor dimensions: "ValueError: dictionary update sequence element #0 has length 224; 2 is required".

----------
epoch 1/5
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-9-94730bc41

[2020-12-23 19:14] phcerdan opened #94 "tikinter issue: RuntimeError: main thread is not in main loop"
**Describe the bug**
I got a tkinter runtime error related with threads when locally running the `spleen_segmentation_3d.ipynb` in the epoch cell.

[code]

**Environment (please complete the following information):**
 - OS: Linux (arch)
 - Python version: 3.8.6
 - MONAI version [e.g. git commit hash] 0.4.0
 - CUDA/cuDNN version: 11.1
 - GPU models and configuration: 3090

**Additional context**
So

[2020-12-24 14:08] Nic-Ma commented on #86
Hi @Sebagam ,

I think the problem is that your data and other transforms are based on `array` format, but you used `AddChanneld`.
So you can try to use `AddChannel` instead.
If still facing the error, could you please help share your program?

Thanks.

[2020-12-24 14:11] Nic-Ma commented on #94
Hi @phcerdan ,

Thanks for your interest here and experiments.
It seems like something unstable in your environment? Did you always get this error?

Thanks.

[2020-12-24 14:25] Sebagam commented on #86
I'm still facing issues.
Here is my code, please ask me for permission

https://colab.research.google.com/drive/1XcHHnNvxVCbTDV7bgnWHrSjGD7XKzY_f#scrollTo=kstCTYNMQ9d7

[2020-12-24 23:05] Nic-Ma commented on #86
Requested.

[2020-12-24 23:13] Sebagam commented on #86
Can you check now?

https://colab.research.google.com/drive/1XcHHnNvxVCbTDV7bgnWHrSjGD7XKzY_f

Thanks
El 24 dic. 2020 8:05 p. m., "Nic Ma" <notifications@github.com> escribió:

[2020-12-25 00:51] Nic-Ma commented on #86
I checked your error log, it said: "IndexError: index 5 is out of bounds for dimension 0 with size 2".
Maybe the dim of your `labels` is not expected? Please print out the dim of labels to check.

Thanks.

[2020-12-25 03:06] GOZGOXGOYGO opened #95 "How to modify the loss function as Dice + CE loss?"
Hi,
I am conducting a segmentation task with only one target structure. Now I try to modify the loss function as Dice + CE loss, then I just change the code as shown here,
[code]
However, after changing this part, the code seems cannot work now, and reports such kind of error. Could you please help me find what is wrong?
[code]

Thanks a lot.

[2020-12-25 13:09] Sebagam commented on #86
The labels are just a 1-D numpy array:

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

Half of the nifti files are

[2020-12-25 15:06] Nic-Ma commented on #86
I don't quite understand why the error message: "index 5 is out of bounds for dimension 0 with size 2" for `labels`.
Maybe you need to restart the notebook and rerun it again from the beginning cell?
Then please print out the shape of `labels`.

Thanks.

[2020-12-25 15:26] Sebagam commented on #86
Now it's working! Thanks
What was the issue there?

On Fri, Dec 25, 2020 at 12:06 PM Nic Ma <notifications@github.com> wrote:

[2020-12-25 23:46] Nic-Ma commented on #86
Maybe the notebook cached some precious unexpected values of the variables, so you need to restart the notebook.
Anyway, please feel free to raise an issue if you face any other problems.

Thanks.

[2020-12-25 23:46] #86 closed

[2020-12-25 23:52] Nic-Ma commented on #95
Hi @GOZGOXGOYGO ,

I don't see some obvious error in your loss function, maybe you can compare all your program with:
https://github.com/Project-MONAI/tutorials/blob/master/modules/dynunet_tutorial.ipynb
And please make sure your software env is OK to run a regular PyTorch program.

Thanks.

[2020-12-27 21:48] phcerdan commented on #94
My error is related with this SO question: https://stackoverflow.com/questions/27147300/matplotlib-tcl-asyncdelete-async-handler-deleted-by-the-wrong-thread

I am using the console, not the web UI, nor an IDE. I was closing the matplotlib pop-up window pressing the "x". If I close it using the key `q`, the error is gone.

Nothing to do with monai, closing.

[2020-12-27 21:48] #94 closed

[2020-12-28 01:56] GOZGOXGOYGO opened #96 "Fail to load state dict"
Hi,

I load the state dict in the same model generated by monai.networks.nets.UNet. However, it reports such an error. Actually, I successfully load the state dict before, but I am not sure what is wrong this time. It seems that the weight has a difference between 'act' and 'adn.A'.

Thank you.

[code]

[2020-12-28 03:54] #96 closed

[2020-12-28 07:40] GOZGOXGOYGO commented on #95
Hi,

I think this error might be a bug. Actually, my code can run the monai code with officially provided dice loss. But when I change this part, the code cannot work now. It seems that in the tutorial code, the modified loss function is used with SupervisedTrainer in the following form. But why can't just apply it in this tutorial code?
https://github.com/Project-MONAI/tutorials/blob/master/2d_se

[2020-12-30 02:31] Nic-Ma commented on #95
Hi @GOZGOXGOYGO ,

Could you please help provide a simple program to reproduce your issue? I didn't find any issue at a first look.

Thanks.

[2021-01-04 03:14] gscahhh opened #97 "covid challenge evaluation"
hello, I am the participant of the covid challenge. Now, the submit has been closed. I have a new prediction and I want to know its dice score to do my own research. Could you please open the evaluation website for me or share the evaluation method? It will be better if the organization can release the ground truth labels of test and validation dataset. Thank you so much!

[2021-01-04 03:33] Nic-Ma commented on #97
Hi @ericspod and @wyli ,

Could you guys please help on this question？

Thanks in advance.

[2021-01-06 14:29] #76 closed

[2021-01-07 12:30] klimli opened #99 "autoencoder_mednist transformations failure"
**Describe the bug**
A clear and concise description of what the bug is.

When running the current version of autoencoder_mednist tutorial it will crash while trying to perform transformations on data. Specifically while creating CasheDataset.

**To Reproduce**
Steps to reproduce the behavior:
Simply run all the cells until you reach creating the CasheDataset - that's where it crashes

**Expected

[2021-01-07 17:31] wyli opened #100 "image regression demo/tutorial"
**Is your feature request related to a problem? Please describe.**
would be great to have an image regression demo/tutorial (for example MR to CT conversion using MAE as loss function)

[2021-01-11 13:48] wyli commented on #103
addressed by https://github.com/Project-MONAI/MONAIBootcamp2020/blob/master/day1notebooks/lab3_networks.ipynb

[2021-01-11 13:48] #103 closed

[2021-01-12 16:13] rijobro commented on #99
Hi, it seems to be working for me. I'm using the master branch of MONAI, which required another bug fix (https://github.com/Project-MONAI/MONAI/pull/1440), but I didn't see any problems regarding the `CacheDataset`.

Would you be able to paste the error? And also the output of `monai.config.print_debug_info()`?

[2021-01-13 11:51] rijobro opened #106 "DynUNet needs updating for deep_supervision"
**Describe the bug**
Following [this PR](https://github.com/Project-MONAI/MONAI/pull/1393) to DynUNet, [the corresponding notebook](https://github.com/Project-MONAI/tutorials/blob/master/modules/dynunet_tutorial.ipynb) needs updating.

I tried simply removing `deep_supervision = True` from the constructor, but this wasn't enough.

The subsequent error is attached here: [dynunet.txt](https://github

[2021-01-15 15:59] wyli opened #108 "setup github action for code format checks"
this is a followup of https://github.com/Project-MONAI/tutorials/pull/107
to run basic checks such as autopep8  isort with github action
 see also
https://github.com/Project-MONAI/MONAI/blob/ec70d9637d7b3be4b3266c0060df25d08e0b6ecd/.github/workflows/pythonapp.yml#L15-L42

[2021-01-18 13:23] saruarlive commented on #106
Dear @Nic-Ma @rijobro et al,

The dynunet returns list (containing the output tensor). Had it returned a tensor in validation mode, it would have been easier to use.
So I changed a bit in the sliding window inference code to make it work. What do you think?
[code]

[2021-01-18 14:54] Nic-Ma commented on #106
I will have a try to run the notebook tomorrow, thanks for your issue report.

Thanks.

[2021-01-18 17:47] rijobro commented on #106
Possibly best to make any changes in [this PR](https://github.com/Project-MONAI/tutorials/pull/107), as it will already have PEP8 modifications (and `git merge` is horrible wit jupyter notebooks)

[2021-01-19 03:40] Nic-Ma commented on #106
Hi @saruarlive and @rijobro ,

I just submitted a commit to fix this issue in that branch: https://github.com/Project-MONAI/tutorials/pull/107/commits/c61cfd1cd02a2a2dea223d06ac2eed2d9ad1a929
@wyli , should we try to merge the notebook format PR ASAP? Otherwise, it's hard to develop new PRs and resolve conflicts.

Thanks.

[2021-01-19 08:16] wyli commented on #106
sure, could you please help review the changes? @Nic-Ma @yiheng-wang-nv @ericspod

[2021-01-19 15:22] Sichtermann commented on #93
Do you have a solution for this? Facing the same problem.

[2021-01-19 15:29] Nic-Ma commented on #93
Hi @Sichtermann and @architraj29 ,

May I know what's your network? if `DynUNet`, please update to use the master branch of MONAI code.

Thanks.

[2021-01-19 16:43] zedtran commented on #106
@saruarlive This was helpful for me. I was finally able to get DynUNet working for the specified tutorial.

[2021-01-20 11:10] Sichtermann commented on #93
Yes running the DynUNet tutorial on my own data.
After updating the master branch and the respective lines in the tutorial, and upgrading to PyTorch 1.7.1 everything runs smoothly.
Thanks!

[2021-01-20 15:37] rijobro opened #110 "brats_segmentation_3d data loader taking too long"
**Describe the bug**
The data loader here is taking over an hour to load the 100 images: https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb. Running on MONAI's master branch.

[2021-01-21 12:40] klimli commented on #99
Hi, thank you for the fast response!

This the error output:

`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
/usr/local/lib/python3.6/dist-packages/monai/transforms/utils.py in apply_transform(transform, data, map_items)
    360             return [transform(item) for item in data]
--> 361

[2021-01-21 12:54] rijobro commented on #99
Hi, you're absolutely right. I think the problem relates to some changes caused by updates to how we read our images.

In colab, I modified the first line to be: `%pip install -q "monai-weekly[pillow, tqdm]"`, and using the weekly release of MONAI solved that problem. You may need to restart the runtime after the pip install.

[2021-01-21 12:58] rijobro commented on #99
Related update PR: https://github.com/Project-MONAI/MONAI/pull/1448.

[2021-01-21 13:20] klimli commented on #99
Thank you. This solves the issue!

[2021-01-21 13:20] #99 closed

[2021-01-21 14:19] Nic-Ma commented on #110
Hi @rijobro ,

Maybe your device is not very powerful? You can decrease the `cache_num`.
If still taking same time, maybe need to check whether we have a bug.

Thanks.

[2021-01-21 14:24] #87 closed

[2021-01-21 14:25] #95 closed

[2021-01-21 14:28] massimilianoporzio opened #112 "YOLO"
It would be useful to have an example of a yolo model to do object recognition on medical images such mass / tumour detection on breast 2D images and/or 3D DBT (breast tomosynthesis) volumes.

[2021-01-21 15:32] wyli commented on #97
thanks @gscahhh, those are managed by the challenge organisers, please consult https://covid-segmentation.grand-challenge.org/Contact/

[2021-01-21 15:32] #97 closed

[2021-01-21 16:03] rijobro commented on #110
I don't think that's the problem unfortunately, as I'm running on a 32GB V100. Num workers is set to 4 by default, which we could increase, but it's hard to see that having a dramatic reduction in computation time. Does the code run quickly for you? I'm currently trying to run it in colab, but it has to download the 7GB of data first.

[2021-01-21 16:22] rijobro commented on #110
Ah possibly an IO problem on my cluster, sorry!

[2021-01-21 16:22] #110 closed

[2021-01-24 21:16] sergeicu opened #113 "Broken linnk"
Link to VAE tutorial:

https://github.com/Project-MONAI/tutorials/blob/master/README.md#varautoencoder_mednist

Produces 404 error.

Page moved?

[2021-01-25 09:14] rijobro commented on #113
Hi, and thanks!
Looks like the link is missing the `.ipynb` extension. I'll add that now. Just in case you need it, the proper link is:
https://github.com/Project-MONAI/tutorials/blob/master/modules/varautoencoder_mednist.ipynb

[2021-01-25 09:18] #113 closed

[2021-01-27 11:38] kate-sann5100 opened #115 "Registration tutorial"
**Is your feature request related to a problem? Please describe.**
There is no registration tutorial in this repository.

**Describe the solution you'd like**
Add a registration tutorial for paired ct lung registration.

**Describe alternatives you've considered**
N/A

**Additional context**
DeepReg paired ct lung registration [demo](https://github.com/DeepRegNet/DeepReg/tree/main/demos/paired_ct_

[2021-01-27 14:20] rijobro commented on #108
I've added an attempt in the [non-interactive PR](https://github.com/rijobro/tutorials/blob/noninteractive_run/.github/workflows/pep8.yml). This will run the pep8 check (hopefully, untested!).

For the execution of the notebooks, we could do some sort of `git diff` to only execute notebooks that have been modified. See this [stackoverflow answer](https://stackoverflow.com/a/57862507/12411867).

[2021-01-27 14:27] wyli commented on #108
thanks @rijobro if you push the changes to `your-fork/master`, it'll trigger the check. e.g. https://github.com/wyli/tutorials/runs/1777386617

[2021-01-27 14:32] rijobro commented on #108
Thanks, seems to be working now! https://github.com/rijobro/Tutorials/runs/1777424979?check_suite_focus=true

[2021-01-27 15:34] wyli commented on #102
addressed by #107

[2021-01-27 15:34] #102 closed

[2021-01-27 15:35] wyli commented on #101
addressed by #107 , please file new issues for any follow-up

[2021-01-27 15:35] #101 closed

[2021-01-27 15:36] wyli commented on #6
#107 provides preliminary support for this feature

[2021-01-27 15:36] #6 closed

[2021-01-27 15:51] wyli opened #118 "contributing guide"
this repository needs a contributing guide about how to create tutorials, at least to clarify a few things:
- installing dependencies
- code format
- notebook vs python scripts
- folder arrangements
- relevant data usage
- copyright for external materials
- local tests before pull request

[2021-01-27 15:59] #50 closed

[2021-01-29 15:48] rijobro opened #119 "Use monai-weekly throughout"
Since the pep8 refactor, we check if monai is installed, and install it if not:

[code]

We should really be using a more up-to-date version of monai, so should probably switch to using `monai-weekly` throughout:
[code]

[2021-02-08 15:55] aarpon commented on #100
I would also be interested in this. I am currently trying to map 16-bit, noisy, low-resolution images to corresponding 16-bit, less-noisy, higher-resolution, same-size, 16-bit images size with an U-Net.

If I use a standard U-Net implementation (directly after Ronneberger et al., 2015), I get the expected output; however, if I use [Monai's UNet](https://docs.monai.io/en/latest/networks.html#unet)

[2021-02-13 18:16] Sebagam opened #122 "Plain zero accuracy"
Hi, I'm getting lowering loss scores across epochs, but accuracy is always zero.

Here is my google colab code:

https://colab.research.google.com/drive/1XcHHnNvxVCbTDV7bgnWHrSjGD7XKzY_f?usp=sharing

Can you tell me where the issue is?

Thanks

[2021-02-14 02:11] Nic-Ma commented on #122
Hi @ericspod ,

Could you please help check this training issue? I am you are expert on these research topics.
Thanks in advance.

[2021-02-14 13:47] shahriar-faghani opened #123 "dicom"
**Please use MONAI's Discussions tab**
For questions relating to MONAI usage, please do not create an issue.

Instead, use [MONAI's GitHub Discussions tab](https://github.com/Project-MONAI/MONAI/discussions). This can be found on the MONAI repository's main page (not the tutorials) next to Issues and Pull Requests along the top.

[2021-02-15 10:36] rijobro commented on #122
It looks like your training set uses the first 10 images (presumably from the AD folder), and your validation uses the last 10 images (presumably from DFT).

I think you're missing a shuffle of the files: `random.shuffle(images)` otherwise you're only training your network with one class, and validating with the other.

Perhaps you also wanted to use `[:-10]` for the training rather than `[:10]` t

[2021-02-15 11:01] rijobro commented on #123
Closing this as it is an empty issue.

[2021-02-15 11:01] #123 closed

[2021-02-15 13:15] Sebagam commented on #122
Thanks! Now it's working.

[2021-02-15 13:54] rijobro commented on #122
No problem. For future reference, these sort of questions are better asked under the [Discussions tab](https://github.com/Project-MONAI/MONAI/discussions) of MONAI's main repository.

[2021-02-15 13:54] #122 closed

[2021-02-18 16:38] Meddebma opened #125 "Cannot import name 'ImageDataset'"
Hi,

I tried to implement the class ImageDataset after installing the newest Monai 0.4.0 for "unet_training_array.py", but I got the message "Cannot import name 'ImageDataset'". Should I install other modules?

Thanks

[2021-02-22 06:07] yiheng-wang-nv commented on #106
Hi all, I just submitted a PR to update the DynUNet tutorial to meet the changes [here](https://github.com/Project-MONAI/MONAI/pull/1596). Now, the forward function will only return a single tensor (for both training and eval mode, with or without deep supervision).

[2021-02-22 11:42] oscarramirezs opened #127 "volume matrix"
hi,

I am training a model to segment a knee,

the problem is that each image is a 512 * 512 matrix, but each CT has a different number of images eg (512 * 512 * 200) (512 * 512 * 500), sometimes the CT goes up to the hip and sometimes is only knee,

How can I standardize so that all CTs have the same matrix?
 and what I can do with CTs that go up to the hip, which can have up to 5 times more imag

[2021-02-22 12:28] rijobro commented on #127
The easiest thing to do here is to crop/pad so that all are the same size with `ResizeWithPadOrCrop`. Just pick the size and they'll all be the same size.

Slightly more complicated is your second question "what I can do with CTs that go up to the hip?" If you know that the knee is always in the centre image you could use `SpatialCrop` to centre crop around that, or if you knew the knee was at the

[2021-02-22 12:29] rijobro commented on #127
In future, please ask these sorts of questions in the Discussions tab of our main repository: https://github.com/Project-MONAI/MONAI/discussions

[2021-02-22 15:15] rijobro commented on #125
Hi, `ImageDataset` is a newer class that was made to replace e.g., `NiftiDataset`. If you are using MONAI 0.4.0, then checking out the 0.4.0 tag of the tutorials should solve the problem. Or, to use the master branch of the tutorials, get a more recent version of MONAI with, for example, `pip install monai-weekly`.

[2021-02-23 00:49] DrAlaafeef opened #128 "Error when running 'DynUNet' tutorial: object has no attribute 'get_feature_maps'"
**Describe the bug**
A clear and concise description of what the bug is.

I tried to run this tutorial, and I got this error message:
"torch.nn.modules.module.ModuleAttributeError: 'DynUNet' object has no attribute 'get_feature_maps'"
This error showed when runing the docker images "projectmonai/monai:0.4.0" and 2projectmonai/monai:latest".

It seems to me that the DynUNet public interface "get_fe

[2021-02-23 08:41] rijobro commented on #128
Thanks for raising this!

[2021-02-24 11:45] hasansari commented on #100
Hi aarpon,

I actually have exactly the same problem with dotty appearances and alternating pixel values. Have you figured out a solution yet? I'd love to use MONAI for image synthesis but haven't figured it out yet

[2021-02-24 14:41] aarpon commented on #100
As I said, I switched to another implementation of U-Net, that works better but still way worse than other approaches like CARE (Google: csbdeep). One difference is most likely the fact that CARE only uses patches where there is enough foreground signal, while so far I have been sampling randomly (and I have quite a lot of background in my images). But I don't believe that this is enough to explai

[2021-02-24 14:46] wyli commented on #100
perhaps could try the basic unet as well, it's less flexible but easier to config https://docs.monai.io/en/latest/networks.html#monai.networks.nets.BasicUNet

[2021-02-24 16:13] aarpon commented on #100
Indeed, thanks! I will also try the basic U-Net.

[2021-02-25 12:47] wyli opened #130 "tutorial/demo for 2D slice analysis based on 3D inputs"
**Is your feature request related to a problem? Please describe.**
would be great to demonstrate the available options for both training and inference

there were quite a few requests, see also:
- https://github.com/Project-MONAI/MONAI/discussions/1641
- https://github.com/Project-MONAI/MONAI/issues/719
- https://github.com/Project-MONAI/MONAI/issues/995
- https://github.com/Project-MONAI/MONAI/is

[2021-02-25 12:55] rijobro commented on #130
Feel free to use this if it's of use to you.

For the [inverse transformation / test time augmentation notebook](https://github.com/Project-MONAI/tutorials/pull/129), I created a 2D dataset from the 3D brain tumour dataset. I use the slice in the 3D that had the largest segmented volume.

I then saved to file, which obviously isn't necessary, but I found it to be faster. Output is then a list of d

[2021-02-25 12:56] rijobro commented on #130
`SliceWithMaxNumLabelsd` could be generalised and added to MONAI if you'd like. By generalised I mean the user could choose along which spatial axis they want to slice.

[2021-02-25 12:58] wyli commented on #130
thanks, I think recently we have a `SaveImage` transform implemented, might be useful here as well

[2021-02-25 13:04] rijobro commented on #130
Certainly could, I'll look into updating my PR!

I just noticed that when you refer to a Discussion (e.g., your first link), that discussion doesn't get a link pointing to the issue/PR discussing it. This is a shame, since the people who posted those questions won't necessarily know we're discussing it here.

[2021-02-26 09:14] Meddebma commented on #125
Dear @rijobro,
thanks for your answer, still did not work, here is the link to the code, did I do something wrong?

https://github.com/Meddebma/pyradiomics/blob/master/Spleen2021.ipynb

[2021-02-26 09:53] rijobro commented on #125
Hi, I'm not sure what the problem is, but it looks like something is wrong with that weekly build. In your notebook, I changed this:

[code]

to this:

[code]
and then restarted the notebook and it seemed to work. Let me know if that doesn't sort it for you too. Since the weekly builds change on a weekly basis, hopefully the problem that you noticed will disappear in the next few days anyway.

[2021-02-26 17:33] #106 closed

[2021-03-05 10:12] Meddebma commented on #125
Hi @rijobro,
thanks after several tries it worked!
Best, Aymen

[2021-03-05 10:17] #125 closed

[2021-03-05 15:54] kate-sann5100 opened #134 "Registration Tutorial for DVF prediction"
**Is your feature request related to a problem? Please describe.**
Registration networks could be used to predict ddf and dvf. There is no existing tutorial for dvf prediction.

**Describe the solution you'd like**
Write a tutorial for dvf prediction.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-03-05 16:01] kate-sann5100 commented on #134
Should we
1. use GlobalNet + dvf on the paired_lung_ct task again OR
2. use other data and tasks?
@mathpluscode @YipengHu

[2021-03-05 16:09] YipengHu commented on #134
LocalNet/UNet + DVF makes more sense. I'd suggestion the two tutorials be:
1- LocalNet/UNet+DVF, unpaired, no label supervision - using single or mixed inhale/exhale phases;
2- LocalNet, paired, with label supervision - registering inhale to exhale phases.

[2021-03-05 17:57] synapsesneurons opened #135 "_"

[2021-03-05 18:37] kate-sann5100 commented on #134
That sounds very feasible.
Btw I am curious what is the pro and con of DVF vs DDF and their suitable use cases?

[2021-03-05 19:19] YipengHu commented on #134
Roughly speaking, the velocity vectors will be integrated to displacement vectors. The resulting DDF has a set of properties that is useful to model some biological tissue deformation or correspondence finding, such as invertibility, one-to-one mapping, volume preserving - differmorphism.

@Vercauteren, Tom<mailto:tom.vercauteren@kcl.ac.uk> corrects me please.

Yipeng
_____________________________

[2021-03-05 19:42] kate-sann5100 commented on #134
@YipengHu That answers my question perfectly. So does that mean in the lung ct case, dvf has no obvious advantage over ddf as we don't have specific constraints?

[2021-03-05 19:48] YipengHu commented on #134
Now this is still an open research question as far as I'm aware. For example, between rib cage and lung tissue, there is clear sliding motion which, in theory, should not be modelled as diffeomorphic transformation, plus the airway expansion etc, but dvf may still perform better locally especially when the corresponding features are lacking.

[2021-03-05 20:08] #135 closed

[2021-03-05 20:19] kate-sann5100 commented on #134
@YipengHu
I think this information is enough for me to write the tutorials for now. That's super helpful. Thank you.

[2021-03-06 10:45] tvercaut commented on #134
Not much more to add from @YipengHu's answer. Just one clarification: Even with stationary velocity fields, imposing volume-preserving constraints remains somewhat involved, see e.g. @LucasFidon's [paper](https://arxiv.org/abs/1907.01593).

[2021-03-08 12:45] wyli opened #136 "demo script for singe image inference"
**Is your feature request related to a problem? Please describe.**
the current inference/evaluation pipelines are all based on a set of images (list of filenames, dataset, dataloader etc...),
would be great to have a simple script for running model inference/evaluation of one data sample.

[2021-03-16 15:05] anoukstein opened #139 "Cannot import name 'Batch' from 'torchtext.data'"
**Describe the bug**
On running the tutorial for 3D Spleen segmentation with Pytorch lightning, the error message 'cannot import name 'Batch' from 'torchtext.data' (/usr/local/lib/python3.7/dist-packages/torchtext/data/__init__.py)' is displayed because Batch is in a legacy file.
**To Reproduce**
Steps to reproduce the behavior:
Reproduce by running the tutorial import section.

**Environment (ple

[2021-03-17 16:08] ericspod commented on #139
This appears to be an incompatibility in the version of Lightning specified in the notebook. If you remove "==0.9.0" from the pip line that installs it you will get the most recent version which might work with this notebook. I'm not sure if we've tested with that version yet but we're working on getting automated testing for these notebooks going. Do try this and let us know if that works for you

[2021-03-17 21:23] anoukstein commented on #139
That worked! Thank you! Best, Anouk

Sent from my iPad

[2021-03-17 21:26] #139 closed

[2021-03-19 18:09] wyli opened #144 "support of not failfast (testing script)"
**Is your feature request related to a problem? Please describe.**
the current `runner.sh` will exit immediately if any of the notebook tests fail. would be great to have an option to continue finishing all the notebooks even if some of the tests fail

[2021-03-19 18:12] wyli opened #145 "support of skipping notebook tests (testing script)"
**Is your feature request related to a problem? Please describe.**
would be great to have an option to skip some of the notebook tests in `runner.sh`

[2021-03-19 18:59] rijobro commented on #144
Sure, that should be pretty easy.

[2021-03-19 19:01] rijobro commented on #145
perhaps change the `--file` argument to be a regex match?

[2021-03-22 06:00] yiheng-wang-nv opened #146 "Modify densenet function into DenseNet Class"
Due to the changes of densenet and senet in MONAI (https://github.com/Project-MONAI/MONAI/pull/1812), all related functions need to be modified.

[2021-03-22 11:15] #146 closed

[2021-03-22 15:22] #144 closed

[2021-03-22 15:22] #145 closed

[2021-03-22 16:21] wyli commented on #108
addressed by https://github.com/Project-MONAI/tutorials/pull/107

[2021-03-22 16:21] #108 closed

[2021-03-22 16:22] wyli commented on #119
addressed by https://github.com/Project-MONAI/tutorials/pull/133 please file new tickets for any follow-up

[2021-03-22 16:22] #119 closed

[2021-03-22 17:05] wyli commented on #128
the multiscale features have been updated to be stacked:
https://github.com/Project-MONAI/MONAI/blob/06e1e990b03a763ac0a1da0e37917f991e3901cf/monai/networks/nets/dynunet.py#L207-L211

[2021-03-22 17:05] #128 closed

[2021-03-23 09:13] wyli opened #150 "mednist_GAN_workflow_dict has errors"
**Describe the bug**
full log from https://github.com/Project-MONAI/MONAI/runs/2172199805?check_suite_focus=true

[code]

[2021-03-23 09:14] wyli opened #151 "mednist_GAN_workflow_array has errors"
**Describe the bug**
full logs from https://github.com/Project-MONAI/MONAI/runs/2172199805?check_suite_focus=true

[code]

[2021-03-23 09:22] wyli opened #152 "revise nifti_read_example"
**Describe the bug**
` ./modules/nifti_read_example.ipynb` is broken due to the recent breaking changes: https://github.com/Project-MONAI/MONAI/pull/1679

[code]

[2021-03-23 14:45] yiheng-wang-nv opened #153 "Related tutorials should be modified due to AUC API changes"
The API Changes can be found in:
https://github.com/Project-MONAI/MONAI/pull/1828

[2021-03-23 18:52] #151 closed

[2021-03-23 18:53] #152 closed

[2021-03-23 21:13] #150 closed

[2021-03-24 08:49] #153 closed

[2021-03-25 09:46] wyli opened #157 "mednist_GAN_workflow_dict testing error"
**Describe the bug**
full logs at https://github.com/Project-MONAI/MONAI/runs/2190380080?check_suite_focus=true

[code]

[2021-03-25 09:55] wyli opened #159 "AttributeError: module 'cgi' has no attribute 'escape'"
**Describe the bug**
full logs at https://github.com/Project-MONAI/MONAI/runs/2190380080?check_suite_focus=true

locally verified that this comes from a particular version of tensorboard (tensorboard in /opt/conda/lib/python3.8/site-packages (from -r requirements-dev.txt (line 9)) (1.15.9999+nv))
may need to have a min. version of tensorboard in `requirements.txt` of this repo

[code]

[2021-03-25 10:05] wyli opened #160 "memory requirements for modules/interpretability/covid_classification notebook"
**Describe the bug**
full logs at https://github.com/Project-MONAI/MONAI/runs/2190380080?check_suite_focus=true

the notebook creates two copies of the network, making it requires relatively large memory to run.
it could be further optimised to release the memory after the first copy is used

[code]

[2021-03-25 10:23] #157 closed

[2021-03-26 07:11] wyli opened #161 "transform 2d demo test error"
**Describe the bug**
full logs at https://github.com/Project-MONAI/MONAI/runs/2199322271?check_suite_focus=true
due to the recent PR https://github.com/Project-MONAI/MONAI/pull/1836
[code]

[2021-03-29 08:46] #161 closed

[2021-03-30 09:04] rijobro opened #165 "Initial import error should go to /dev/null"
**Is your feature request related to a problem? Please describe.**
We currently have this structure at the top of our notebooks: `!python -c "import matplotlib" || pip install -q matplotlib`.

In this fashion, if we fail to import matplotlib, pip install it. However, if the first command fails, an error is printed. This could be solved with: `!python -c "import matplotlib" &>/dev/null || pip insta

[2021-03-30 10:14] #127 closed

[2021-04-01 09:45] rijobro commented on #159
Did we not solve this one elsewhere?

[2021-04-01 09:58] rijobro commented on #160
Hm I don't fully understand this error. It fails during the first pass of the data through the network for the first time. At this point, unless I'm mistaken only 1 network has been created. And it's the `Densenet121` which we use elsewhere in our notebooks. Images are (320,320) with batch size of 100, do you think I should reduce batch size?

[2021-04-01 10:03] rijobro commented on #159
Oh yeah, [here](https://github.com/Project-MONAI/MONAI/pull/1783#issuecomment-801276120). Do you know what the minimum version needs to be for it to work? We could just use the most recent release?

[2021-04-01 10:44] rijobro opened #169 "deepgrow files not present"
Deepgrow tutorials need files that are not present to run, see here: https://github.com/Project-MONAI/MONAI/runs/2243105725?check_suite_focus=true#step:6:298.

[2021-04-01 12:01] #160 closed

[2021-04-01 12:02] #159 closed

[2021-04-03 20:58] vkingoff opened #171 "Wrong Output of Brats 3D Segmentation"
I ran your brats_segmentation_3d.ipynb and got results which are different from yours.
The versions of my environment are listed below and i attach the picture with final results.
![image_2021-04-03_23-57-25](https://user-images.githubusercontent.com/34441268/113491300-65ff2980-94d8-11eb-9f3d-10cfa32f4343.png)
[code]

[2021-04-06 11:03] rijobro commented on #171
Thanks for raising this. It looks like during the plotting we have the line `val_output = model(val_input)`, which should probably be `val_output = post_trans(model(val_input))`.

Do you think you could try modifying it to this and seeing if this gives expected results?

[2021-04-06 16:03] rijobro commented on #169
@SachidanandAlle Do you think you could have a look at this?

[2021-04-07 07:29] GOZGOXGOYGO opened #174 "What need to do if some training slices are all background?"
N foreground 0, N  background 1325572, unable to generate class balanced samples.

[2021-04-07 08:30] rijobro commented on #174
which tutorial?

[2021-04-07 08:34] GOZGOXGOYGO commented on #174
My code is from the 2d segmentation tutorial. For the reason that the training slices are from a 3D volume, some slices don't have any target. Training with such dataset, the MONAI network reports this.

[2021-04-08 14:51] wyli opened #176 "mednist_classifier_ray.ipynb error"
**Describe the bug**
copying from the nightly test (https://github.com/Project-MONAI/MONAI/runs/2293812600?check_suite_focus=true#step:6:190):
[code]

[2021-04-08 22:33] vkingoff commented on #171
Maybe I will have a chance to check it later. But for now I was able to solve it by the next change.
Your string:
plt.imshow(val_output[0, i, :, :, 20].detach().cpu())
My string:
plt.imshow(torch.sigmoid(val_output[0, i, :, :, 20]).detach().cpu()>0.5)

[2021-04-09 07:45] rijobro commented on #171
That will have the same effect as `post_trans`, glad it worked for you!

[2021-04-09 08:51] #171 closed

[2021-04-12 14:26] wyli opened #178 "tag/release a version of this repo for project-monai/monai v0.5.1"
**Is your feature request related to a problem? Please describe.**
v0.5.0 is released https://github.com/Project-MONAI/MONAI/tree/0.5.1
would be great to select and tag a corresponding tutorial release

[2021-04-14 13:22] davidiommi opened #180 "Dynet pipeline: problems with launching and tutorial"
Hello,

I have the following error messages when launching the dynet pipeline (Hippocampus multi and single gpu):

![Cattura](https://user-images.githubusercontent.com/38066083/114716395-4d8eda80-9d34-11eb-9395-6e314945793c.PNG)

I tried also the heart dataset and it cannot can't even find the cudnn

My machine:
 - OS Ubuntu 18.04
 - MONAI version 0.5.0, download of the docker MONAI
 - CUDA 11.2

[2021-04-14 13:44] #180 closed

[2021-04-14 13:45] wyli commented on #180
thanks for reporting, could you help confirm the fixes? the latest tutorial repo should work with monai 0.5.0

[2021-04-16 03:24] bbb801 opened #183 "Official OcclusionSensitivity example is not workable"
Dear Sir,

The example of OcclusionSensitivity in your example is not workable(https://docs.monai.io/en/latest/visualize.html?highlight=OcclusionSensitivity).

**Run:**
# densenet 3d
from monai.networks.nets import DenseNet
from monai.visualize import OcclusionSensitivity

model_3d = DenseNet(spatial_dims=3, in_channels=1, out_channels=3, init_features=2, growth_rate=2, block_config=(6,))
occ_sens

[2021-04-16 10:01] rijobro commented on #183
Hi, which tutorial is this? We use occlusion sensitivity in our [covid classification](https://github.com/Project-MONAI/tutorials/blob/master/modules/interpretability/covid_classification.ipynb) tutorial, and as far as I can tell, this is currently running successfully (see today's [cron log](https://github.com/Project-MONAI/MONAI/runs/2359076260?check_suite_focus=true#step:6:581)).

Could you try

[2021-04-16 11:18] bbb801 commented on #183
Dear Dr Richard Brown,

Thank you for your prompt reply. I am sorry. It is not from the tutorial and maybe I should ask the question here. But the problem is pasted on MONAI official documentation (see: https://docs.monai.io/en/latest/visualize.html?highlight=OcclusionSensitivity)

It is here:    It is for the use of 3d OcclusionSensitivity.
![image](https://user-images.githubusercontent.com/52306

[2021-04-18 21:24] wyli opened #184 "jupyter_utils testing error"
**Describe the bug**
error from the cron tests:
https://github.com/Project-MONAI/MONAI/runs/2372603948?check_suite_focus=true#step:6:681
[code]

[2021-04-19 00:12] #183 closed

[2021-04-19 03:56] itruonghai opened #185 "Nifti.save_batch does not work as expected?"
Dear author,

I try to recover the original image after going through the model. I have tried the following command  (saver = NiftiSaver)
[code]
Here is my transforms to
[code]
As the result., the segmentation of (200,200,96) image is placing on the top left of the images (it does not recover as the original ones?). How can I solve this problem

[2021-04-20 11:17] wyli opened #187 "registration_mednist testing error"
**Describe the bug**
cron tests failed on this notebook with msg https://github.com/Project-MONAI/MONAI/runs/2387302073?check_suite_focus=true#step:6:53:
[code]

[2021-04-20 12:32] #187 closed

[2021-04-20 19:09] #184 closed

[2021-04-21 14:55] wyli opened #190 "test error jupyter_utils"
**Describe the bug**
from todays cron test: https://github.com/Project-MONAI/MONAI/runs/2399054858?check_suite_focus=true#step:6:743
the direct cause is that the test replaces the max_epochs value
[code]

[2021-04-21 18:21] #190 closed

[2021-04-21 19:26] dongyang0122 opened #191 "Adding evidence of performance improvement by using test-time augmentation (TTA) in the tutorial notebook"
Current tutorial notebook about test-time augmentation (TTA) simply shows how to apply it for brain MRI segmentation in 2D planes. However, it is unclear the if the TTA method would improve the segmentation quality in practice.
https://github.com/Project-MONAI/tutorials/blob/master/modules/inverse_transforms_and_test_time_augmentations.ipynb

It is better to show the accuracy and quality (visual)

[2021-04-21 23:02] Nic-Ma commented on #191
Hi @rijobro ,

Could you please help take a look when you are back?

Thanks.

[2021-04-22 10:32] wyli opened #194 "testing errror paired_lung_ct.ipynb"
**Describe the bug**
issue from todays cron log https://github.com/Project-MONAI/MONAI/runs/2406825110?check_suite_focus=true#step:6:610

[code]

cc @kate-sann5100

[2021-04-22 10:59] #194 closed

[2021-04-22 12:22] davidiommi commented on #180
Hi, I have still the same error, by training with the task 04: AttributeError: OPTIMIZER_COMPLETED

I simply downloaded the docker with the 0.5.0 monai version but it's not working. I also tried to install monai with pip but it gives the same error.

[2021-04-22 13:18] Nic-Ma commented on #180
Hi @yiheng-wang-nv ,

Could you please verify and help on this ticket?

Thanks in advance.

[2021-04-22 15:43] yiheng-wang-nv commented on #180
Hi @davidiommi , I pulled the latest docker and run task 04 with 1 and 2 gpus, and I did not meet errors. Could you please print monai version and post here? I submitted a PR (#197 ) and you can pull the latest code, and rerun the script to check the versions.

The following is my running versions:
MONAI version: 0.5.0+23.g898d073

[2021-04-23 17:40] wyli commented on #178
I think we could check out a new release branch, replace all the pip install commands with `pip install monai==0.5.1` and then tag a milestone. or should we go for a gitflow approach (https://github.com/Project-MONAI/MONAI/issues/2041) for this repo as well? cc @Nic-Ma  @ericspod @rijobro

[2021-04-25 17:55] ericspod commented on #178
Gitflow is maybe a bit too complicated for this repo, we don't anticipate making a lot of changes and it's not a dependent of other things. We should set the install command to be for the most recent released version of MONAI and whenever a new release goes out we need to check all the notebooks and increment their versions.
The alternative is to set existing notebooks as `monai>=0.5.1` and leave

[2021-04-26 09:18] davidiommi commented on #180
Dear @yiheng-wang-nv,

I tried even with installing directly the github repository, but it's still not working. Maybe there is a problem with our machine
![Cattura](https://user-images.githubusercontent.com/38066083/116058201-e18b6b00-a67f-11eb-8b7e-206696f2b97f.PNG)
(url)

This is the same error for task 4. For task 2 it does not even launch because it does not have enough GPU memory, even if we

[2021-04-26 10:04] rijobro commented on #191
Hi @dongyang0122 are you saying you'd like a comparison between the inference of a single image versus the mode of multiple random instances computed with TTA?

[2021-04-27 00:59] #176 closed

[2021-04-27 09:46] #115 closed

[2021-04-27 23:35] wyli commented on #169
not sure we'll get this fixed. I'm trying to use the option of `runner.sh -p` to exclude the deepgrow files from the tests. but not sure how to set the arg. @rijobro any idea?  otherwise let's move the tutorials out of the repo because we couldn't maintain those.

[2021-04-27 23:55] dongyang0122 commented on #191
My point is to justify the usage of TTA in practice. It would be nice to show the segmentation improvement in terms of accuracy and appearance.

[2021-04-28 02:54] SachidanandAlle commented on #169
the deepgrow inference notebook needs pretrained models (for 2D and 3D) and sample image..
if there is some place in aws or so.. if we can push them, then we can download and access it as part of notebooks run.

https://drive.google.com/drive/folders/1lypRGUoybX5detODnt2QnWC_j_Xkw2ys?usp=sharing
Here we need deepgrow_2d.ts, deepgrow_3d.ts and _image.nii.gz) to be available through wget kind to acc

[2021-04-28 03:59] wyli commented on #169
ok these files are useful, monai provides function to download from gdrive

[2021-04-28 08:27] rijobro commented on #169
I agree that the easiest thing to do is simply to download them from gdrive provided they won't be deleted any time soon.

[2021-04-28 11:02] rijobro commented on #169
https://github.com/Project-MONAI/MONAI/blob/master/monai/apps/utils.py#L74-L112

[2021-04-28 11:04] wyli commented on #169
[code]

[2021-04-29 23:23] YuanTingHsieh commented on #169
Should be fixed by the above PR.

[2021-04-29 23:29] YuanTingHsieh commented on #169
Actually two questions here:

1. I don't have ``%pip install gdown`` in the top. Do we want to add that?
2. Do we want to include the output (those graphs and execution result of each cell) into the notebook?

[2021-04-29 23:42] #169 closed

[2021-05-05 07:16] wyli opened #207 "class_lung_lesion.ipynb testing error"
**Describe the bug**
from the ci tests because of https://github.com/Project-MONAI/MONAI/pull/2137:
[code]

[2021-05-05 08:09] #207 closed

[2021-05-18 22:24] han-liu opened #211 "Random Intensity transforms for test-time augmentation"
Hi,

Test-time augmentation is a helpful tool to use but it seems that currently only spatial transformations are included for TTA. Intensity transformations such as Random contrast are not invertible transforms and thus cannot be used in current TTA implementation. Is there a way that I can use intensity transforms as TTA? Thanks.

[2021-05-18 22:40] Nic-Ma commented on #211
Hi @rijobro ,

Could you please help share some comments about the TTA plan here?

Thank in advance.

[2021-05-19 07:48] rijobro commented on #211
Hi @han-liu we certainly have it on our agenda to extend invertible transforms to include more than just spatial ones.
Which intensity transform in particular are you using? Perhaps I can make this one invertible to be used as an example for future intensity transforms.

[2021-05-19 08:12] tvercaut commented on #211
I guess invertible transforms don't have to be necessarilly mathematically invertible. We just need to define a suitable pseudo-inverse for it.

The example of adding Gaussian noise on the image intensities is interesting to consider. We could either make it an invertible transform by storing the noise added at test-time or just forget about the noise values and consider that the pseudo-inverse is

[2021-05-26 13:56] Meddebma opened #215 "CUDA Error"
Hi,

I tried to run classification on my own datset on colab, unfortunately I have a problem with the GPU, I get this error:
"RuntimeError: CUDA error: device-side assert triggered"
Here is the code:
https://github.com/Meddebma/pyradiomics/blob/master/Projekt2.ipynb
Could you help me with this?
Thank you

[2021-05-30 12:31] wyli opened #217 "nightly test error: spleen_segmentation_3d_lightning.ipynb"
**Describe the bug**
log: https://github.com/Project-MONAI/MONAI/runs/2703683356?check_suite_focus=true
[code]

[2021-05-30 12:34] wyli opened #219 "nightly test error: modules/TorchIO_MONAI_PyTorch_Lightning.ipynb"
**Describe the bug**
log: https://github.com/Project-MONAI/MONAI/runs/2703683356?check_suite_focus=true
[code]

[2021-05-30 13:54] #217 closed

[2021-05-30 14:39] #219 closed

[2021-06-05 09:39] wyli opened #223 "nightly test error: unet_segmentation_3d_catalyst.ipynb"
**Describe the bug**
from log: https://github.com/Project-MONAI/MONAI/runs/2751603451?check_suite_focus=true
[code]

[2021-06-06 06:53] talhaanwarch commented on #223
getting same error, with same notebook

[2021-06-10 16:19] asmakaus opened #225 "dynunet_pipeline - Error in Finetuning, Validation and Inference (no pretrained checkpoint)"
After running the successful training, I tried to run the fine-tuning, validation and inference command as guided in "tutorials/modules/dynunet_pipeline/commands". When I checked the saving folder, **runs_02_fold0_baseline** is saved properly with data folder and **data.pkl** but still the inference code is unable to read the checkpoint. Therefore, that the trained network is not loaded properly f

[2021-06-10 16:42] Nic-Ma commented on #225
Hi @asmakaus ,

Thanks for your interest here.
Have you specified the checkpoint path when running the inference example?
https://github.com/Project-MONAI/tutorials/blob/master/modules/dynunet_pipeline/inference.py#L170
@yiheng-wang-nv could you please help fix it if there is really a bug?

Thanks in advance.

[2021-06-10 22:40] asmakaus commented on #225
Thank you so much for your response. It worked now. Actually the variable **weight=model.pt** given in commands was confusing. I feel it would be better if help is provided in comments explaining it as complete directory path.

Thanks again.

[2021-06-10 23:45] Nic-Ma commented on #225
@yiheng-wang-nv , could you please help update the tutorial based on the feedback?

Thanks.

[2021-06-11 07:26] yiheng-wang-nv commented on #225
Hi @Nic-Ma and @asmakaus , actually the script has the corresponding comments, like here:
https://github.com/Project-MONAI/tutorials/blob/master/modules/dynunet_pipeline/commands/task01/finetune_multi_gpu.sh#L2

[2021-06-11 07:26] #225 closed

[2021-06-11 08:16] wyli commented on #223
fixed by https://github.com/Project-MONAI/MONAI/pull/2321

[2021-06-11 08:16] #223 closed

[2021-06-11 08:21] wyli opened #228 "nightly test error: modules/image_dataset.ipynb"
**Describe the bug**
from https://github.com/Project-MONAI/MONAI/runs/2800057566?check_suite_focus=true
[code]

[2021-06-11 08:26] wyli opened #230 "nightly test error: modules/jupyter_utils.ipynb"
**Describe the bug**
from: https://github.com/Project-MONAI/MONAI/runs/2800057566?check_suite_focus=true
[code]

[2021-06-11 09:05] #228 closed

[2021-06-11 23:24] #230 closed

[2021-06-12 00:06] Nic-Ma opened #231 "Update all the metrics APIs"
**Describe the bug**
As we unified metrics APIs, @yiheng-wang-nv will simplify all the tutorials and examples to use the latest APIs when `decollate batch` feature is also merged.
Pending on this PR: https://github.com/Project-MONAI/MONAI/pull/2315

[2021-06-12 15:11] wyli opened #232 "nightly tests:"
**Describe the bug**
3 tutorials are broken because of the recent metrics API updates:
https://github.com/Project-MONAI/MONAI/runs/2809697124?check_suite_focus=true
[code]

[code]

[code]

[2021-06-13 06:12] Nic-Ma commented on #232
Thanks for your report.
As I described in another ticket, Yiheng will update all tutorials when the decollate_batch is completed.

Thanks.

[2021-06-15 11:42] wyli opened #233 "A tutorial to show the metrics API usage"
**Is your feature request related to a problem? Please describe.**
would be great to have a standalone demo/tutorial on the metrics APIs

part of https://github.com/Project-MONAI/MONAI/issues/497, followup of https://github.com/Project-MONAI/MONAI/pull/2314

[2021-06-15 11:46] Nic-Ma commented on #233
Hi @wyli ,

Thanks for putting this ticket.
I am thinking about the content of tutorial example today, plan to mainly introduce 2 parts:
1. How to use metrics in a regular validation program during training.
2. How to compute metrics based on saved predictions and labels, with multi-processing.

Do you have any other suggestions?

Thanks.

[2021-06-15 11:56] wyli commented on #233
sure, it should also have a section to generate a final metric summary report

[2021-06-15 11:57] Nic-Ma commented on #233
Sounds good!

Thanks.

[2021-06-15 12:07] wyli commented on #46
addressed by https://github.com/Project-MONAI/tutorials/pull/189

[2021-06-15 12:07] #46 closed

[2021-06-18 11:47] #233 closed

[2021-06-21 16:17] rijobro opened #235 "3D registration missing images"
[3D registration tutorial](https://github.com/Project-MONAI/tutorials/blob/master/3d_registration/paired_lung_ct.ipynb) is missing results images. I think this would be really useful for users.

The code for visualising the results is there, it just needs to be executed and the results uploaded.

[2021-06-21 16:20] kate-sann5100 commented on #235
I am happy to complete that.

I have a paper submission deadline this Friday. I will work on that as soon as I submit.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Richard Brown ***@***.***>
Sent: Monday, June 21, 2021 5:17:44 PM
To: Project-MONAI/tutorials ***@***.***>
Cc: Yiwen Li ***@***.***>; Assign ***@***.***>
Subject: Re: [Project-MONAI/tutorials] 3D re

[2021-06-21 16:21] rijobro commented on #235
Perfect, thanks!

[2021-06-22 09:40] Nic-Ma opened #236 "Add tutorial to show the CSVDataset and CSVIterableDataset"
**Is your feature request related to a problem? Please describe.**
As we already completed the initial version of `CSVDataset` and `CSVIterableDataset`, need to develop a tutorial to show the usage.

[2021-06-24 21:00] slbryson opened #239 "Add NVIDIA Triton Python Backend Example for MONAI Models"
Community will like to see how a MONAI based model can be integrated into the Triton Inference Service using a Python Backend.

[2021-06-25 07:32] Meddebma opened #241 "Explainable AI"
A big problem of AI in medicine is that "black box" approach is unacceptable for clinical decision support. I would like to work with you on a solution to integrate not only radiological Data but also clinical data to predict treatment's outcomei.
One possible solution would be to change classification model architechture (like UNET) to insert 2D or 3D images, but also patient's clinical data (Lik

[2021-06-25 08:06] Nic-Ma commented on #241
Hi @Meddebma ,

Thanks for your interest here.
@ericspod @wyli May I know is there any multimodal discussion in our working group related to this ticket? I would mark this ticket as `working group discussion`.

Thanks.

[2021-06-29 04:31] aksg87 commented on #18
Hi @neuronflow, Are there benefits to using TorchIO in addition to the transforms provided by MONAI? I'm looking at both libraries for augmentation. Thanks in advance!

[2021-06-29 07:07] neuronflow commented on #18
from my POV this really depends on your use case, I appreciate especially the "medical" augmentations from torchio as they are more "plausible" than many artificial image distortions.

[2021-06-29 16:55] #239 closed

[2021-06-29 16:59] #235 closed

[2021-07-01 10:07] yiheng-wang-nv opened #245 "Update all the examples & notebooks to use new APIs"
The feature comes from: https://github.com/Project-MONAI/MONAI/issues/2402

[2021-07-01 10:12] wyli commented on #245
For reference, most of the errors in this log are relevant https://github.com/Project-MONAI/MONAI/runs/2959519650?check_suite_focus=true

[2021-07-02 03:23] pfdamasceno commented on #78
Hi, this seems to still be an issue for MONAI>=monai-0.6.0. Is that correct?

[2021-07-02 03:25] Nic-Ma commented on #78
Hi @pfdamasceno ,

@yiheng-wang-nv is updating all the examples and tutorials for 0.6 release: https://github.com/Project-MONAI/tutorials/pull/246.

Thanks.

[2021-07-02 09:14] rijobro opened #247 "Multi-class segmentation"
We get quite a few questions about multi-class segmentation (e.g., https://github.com/Project-MONAI/MONAI/discussions/2302), so it would be good to have a tutorial demonstrating this workflow.

[2021-07-02 09:16] Nic-Ma commented on #247
Hi @rijobro ,

I think this Brats tutorial is: https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb.

Thanks.

[2021-07-02 09:22] rijobro commented on #247
oh great, thanks!

[2021-07-02 09:22] #247 closed

[2021-07-05 05:56] Nic-Ma opened #248 "Need to update Horovod tutorial with `SHARED` argument"
**Is your feature request related to a problem? Please describe.**
As Horovod supports both nccl.so and nccl.a now:
https://github.com/horovod/horovod/blob/master/cmake/Modules/FindNCCL.cmake#L30
Need to update our tutorial to specify `HOROVOD_NCCL_LINK=SHARED` during installing.

[2021-07-05 06:05] #248 closed

[2021-07-05 21:59] slbryson opened #250 "Update /deployment/Triton to use MONAI Gdrive for Testdata"
Initial version of Triton Demo for Python Backend and Monai inference uses a non-Monai Google Drive location for testdata and model storage.
Request is to use the Monai Google Drive for better maintainability of the demo.

[2021-07-06 07:22] wyli commented on #245
I think we should list and track all the demo/examples to be updated here, and then have multiple pull requests to address them. In this way we can review part of them while the others are getting updated.

[2021-07-06 08:38] yiheng-wang-nv commented on #245
Hi @wyli , thanks for the suggestion, and I just listed them in #246 .

[2021-07-09 02:23] #245 closed

[2021-07-09 15:36] Nic-Ma opened #259 "Change `ToTensor` to `EnsureType` in all examples and tutorials"
**Is your feature request related to a problem? Please describe.**

Hi @wyli @rijobro @ericspod ,

Do you guys think we should change all the `ToTensor` transform in the tutorials and examples to `EnsureType` transform based on our previous discussion?
If yes, @yiheng-wang-nv will update all in the PR.

Thanks.

[2021-07-09 16:32] ericspod commented on #259
That's the new API we want to encourage people to use so I'd say we should. We've left `ToTensor` and `ToNumpy` in but these will likely disappear eventually as they're redundant now.

[2021-07-10 00:36] Nic-Ma commented on #259
Hi @yiheng-wang-nv ,

Could you please help update all the `ToTensor` to `EnsureType` directly?
@wyli @rijobro do you guys have any other comments?

Thanks.

[2021-07-11 10:32] Nic-Ma opened #260 "Add tutorial to show different sampling transforms"
**Is your feature request related to a problem? Please describe.**
Currently, we already have several `crop` transforms that can generate random samples/patches during training, I think we should develop a tutorial to show how to use them and the expected data that generated.
Like: `RandCropByPosNegLaheld`, `RandSpatialCropSamplesd`, `RandWeightedCropd` and the `RandCropByLabelClassesd`(in PR: htt

[2021-07-11 10:34] Nic-Ma commented on #260
If @wyli @ericspod @rijobro don't have other comments, @yiheng-wang-nv could you please help develop this tutorial when we finalized all the tasks for v0.6?

Thanks in advance.

[2021-07-12 17:54] wyli commented on #232
addressed by https://github.com/Project-MONAI/MONAI/issues/2396

[2021-07-12 17:54] #232 closed

[2021-07-13 06:39] ahatamiz opened #262 "Add Tutorial for UNETR (3D Multi-organ Segmentation)"
**Is your feature request related to a problem? Please describe.**
Add tutorial for UNETR using 3D multi-organ Segmentation task with BTCV challenge dataset.

**Describe the solution you'd like**
A notebook which contains all steps for training and validation addresses this feature request.

[2021-07-13 06:39] ahatamiz commented on #262
@wyli @Nic-Ma

[2021-07-13 08:54] #259 closed

[2021-07-13 10:19] wyli opened #264 "cron test errors -- related to decollate?"
**Describe the bug**
cron test logs: https://github.com/Project-MONAI/MONAI/runs/3053665062?check_suite_focus=true
[code]
[code]

[2021-07-13 10:20] wyli opened #265 "csv dataset notebook error"
**Describe the bug**
[code]

[2021-07-13 10:31] Nic-Ma commented on #264
Hi @yiheng-wang-nv ,

Could you please help double confirm the issue with MONAI v0.6?
I think you already tested locally for all the notebooks?

Thanks

[2021-07-13 10:41] Nic-Ma commented on #265
I think that because I missed to add it to the runner list when I developed CSVDataset tutorial.
Let me add it in a quick PR.

Thanks.

[2021-07-13 12:07] #264 closed

[2021-07-14 01:20] talhaanwarch opened #269 "tensor instead of list in BraTS segmentation tutorial"
In brats tutorial, the list is passed to Dice metric, is not it should be tensor?

[code]
[code]

Because when I do this, it says sigmoid need tensor input instead of a list
`TypeError: sigmoid(): argument 'input' (position 1) must be Tensor, not list`

[2021-07-14 01:52] Nic-Ma commented on #269
Hi @talhaanwarch ,

Thanks for your interest and experiment here.
All the MONAI metrics in **v0.6** can support a list of tensors as input.
I am afraid you are using MONAI v0.5 or using the `DiceLoss` instead of `DiceMetric`?

Thanks.

[2021-07-14 01:53] Nic-Ma commented on #260
Hi @yiheng-wang-nv ,

As the `RandCropByLabelClasses` transform had been merged, I think you can start this ticket now.

Thanks in advance.

[2021-07-14 05:50] talhaanwarch commented on #262
@ahatamiz can you tell me please, why you have used softmax instead of sigmoid. I am talking in sense of multi-label and multi-class. In multi-label, I think we use sigmoid and in multi-class, softmax is used. Similarly, why DiceCELoss is used instead of DiceLoss.

[2021-07-14 06:31] ahatamiz commented on #262
Hi @talhaanwarch. For the first question, a multi-class semantic segmentation problem can be considered as pixel-level classification. The output layer has 14 channels (classes), hence we use `Softmax` to classify each pixel into its desired class. On the other hand, `Sigmoid` is typically used for binary segmentation wherein the goal is to segment foreground and background. You can use `Sigmoid`

[2021-07-14 06:35] talhaanwarch commented on #262
thanks a lot. it really helps, especially the brain tumor reference, because I was thinking the brain tumor tutorial use sigmoid and why you have used softmax. It clear now. thanks once again

[2021-07-14 09:14] wyli opened #270 "cron test error TorchIO_MONAI_PyTorch_Lightning.ipynb"
**Describe the bug**
https://github.com/Project-MONAI/MONAI/runs/3063670723?check_suite_focus=true
[code]

[2021-07-14 09:14] wyli commented on #270
perhaps it's a downloading issue I'm looking into this

[2021-07-14 12:27] #270 closed

[2021-07-14 19:11] #262 closed

[2021-07-15 01:13] ahatamiz opened #273 "Fix minor typo in description of unetr tutorial"
**Is your feature request related to a problem? Please describe.**
This pull request fixes minor typo in description of unetr tutorial.

[2021-07-15 01:41] #273 closed

[2021-07-15 09:12] wyli opened #276 "cron test error 3d_segmentation/unetr_btcv_segmentation_3d.ipynb"
**Describe the bug**
log: https://github.com/Project-MONAI/MONAI/runs/3073470810?check_suite_focus=true
[code]

[2021-07-15 09:57] wyli commented on #276
this is from our nightly CI tests, could you please help look into the testing error @ahatamiz? I think you can  replicate it with this command:
[code]

[2021-07-16 07:10] ahatamiz commented on #276
Thanks @wyli. The testing error is due to the fact that `dataset_0.json` is not placed in the `/dataset/` folder. As we explained in the **Download dataset and format in the folder** cell, the user needs to download dataset and put json file on that folder. Since the dataset requires additional registration step, we cannot link to it and download it.

One change I can think of is to host the json

[2021-07-16 08:35] wyli commented on #276
sure, we have a share drive for demo/testing data (https://drive.google.com/drive/u/2/folders/1ZOqwF44newvq-jOSgnbXRDWRD9DRq8hH), is it possible to put a subset there?

otherwise I can think of two approaches:
- `Try...Except` the runtime error in the notebook, so that it stops quietly if there is no data
- modify the default testing filename pattern to exclude this file from auto tests...
https:/

[2021-07-17 08:25] ahatamiz commented on #276
Hi @wyli I checked again and unfortunately it is not possible to publicly release portions of dataset ( needs user registration on their website). I can certainly create a new PR that reflects your solutions, if this is what we agree on.

Thanks

[2021-07-17 17:21] wyli commented on #276
Sounds good, we deploy the tests mainly to detect basic errors due to API changes, we also manually check these notebooks before major releases. So some gentle tests or skip the tests are ok...

[2021-07-21 07:17] yiheng-wang-nv opened #277 "Update nvflare"
nvflare needs to be updated to match MONAI v0.6, and `NUM_STEPS_CURRENT_ROUND` should be added into `shareable[ShareableKey.META]` to meet the requirements of the latest `AccumulateWeightedAggregator`

[2021-07-22 04:52] dongyang0122 opened #279 "Tutorial Request for Validation on Original Image Spacing"
To achieve the full pipeline, it is better to have a complete tutorial for model training, validation, inference on original spacing (and optional validation on the original spacing). And it would be helpful to add contents in the following tutorial.

https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d.ipynb

Thanks! @yiheng-wang-nv

[2021-07-22 06:13] yiheng-wang-nv commented on #279
Hi @wyli , @Nic-Ma , @rijobro , should I add a new notebook, or update `spleen_segmentation_3d.ipynb` directly?

[2021-07-22 09:00] rijobro commented on #279
I'm not sure that inference using the original spacing is a good idea. If you've trained your network with certain sized voxels, you'll want to infer with those size voxels, too. Do you mean performing the inference on the under-sampled images, and then using the inverse transforms to resample them back to the original spacing?

[2021-07-22 14:31] dongyang0122 commented on #279
There is a good example of reversing the model output back to the original spacing. It would be helpful to further calculate the validation accuracy of the original spacing data. Because this will be a fair way to compare models trained at different image spacings. Moreover, it is better to combine the solutions into a complete tutorial rather than fragments (at least for one task). Thank you! @ri

[2021-07-22 15:11] Nic-Ma opened #280 "tutorial to show UNet details"
**Is your feature request related to a problem? Please describe.**
As @wyli suggested, it would be nice to have a tutorial page to show the UNet typical configurations, parameters, model sizes, memory usage, etc.

[2021-07-22 15:11] Nic-Ma commented on #280
Can refer to this existing tutorial: https://gist.github.com/fepegar/1fb865494cb44ac043c3189ec415d411.

Thanks.

[2021-07-26 11:54] #277 closed

[2021-07-26 15:24] #280 closed

[2021-07-27 05:42] yiheng-wang-nv opened #286 "Update Brats tutorial"
The [brats tutorial](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/brats_segmentation_3d.ipynb) can be enhanced for the following places:
1. `CenterSpatialCropd` should be replaced by `sliding_window_inference`. Otherwise, the calculated score will always exclude the cropped boundaries.
2. `RandFlipd` should be used for all spatial dimensions for better performance.

[2021-07-27 12:26] #279 closed

[2021-07-27 16:11] wyli opened #288 "a tutorial about MONAI's network interfaces"
**Is your feature request related to a problem? Please describe.**
porting https://github.com/Project-MONAI/MONAIBootcamp2020/blob/master/day1notebooks/lab3_networks.ipynb

[2021-07-28 00:01] #288 closed

[2021-07-30 04:10] #286 closed

[2021-07-31 10:44] wyli commented on #276
i'm submitting a PR (#292) to skip the test for unetr.

[2021-07-31 10:47] wyli opened #293 "./modules/interpretability/covid_classification.ipynb cron test error"
**Describe the bug**
in log https://github.com/Project-MONAI/MONAI/runs/3207649328?check_suite_focus=true
[code]

[2021-07-31 10:48] wyli opened #294 "./modules/interpretability/class_lung_lesion.ipynb cron test error"
**Describe the bug**
log: https://github.com/Project-MONAI/MONAI/runs/3207649328?check_suite_focus=true
[code]

[2021-07-31 14:11] Nic-Ma commented on #294
Thanks for the issue report.
Let me update the call of `Resize` transform to fix it.

Thanks.

[2021-07-31 14:11] Nic-Ma commented on #293
Thanks for the issue report.
Let me update the call of Resize transform to fix it.

Thanks.

[2021-07-31 16:46] #293 closed

[2021-07-31 17:05] #294 closed

[2021-08-01 14:37] robert-s-lee opened #297 "data directory is assumed to start at root instead of current directory"
**Describe the bug**

data directory is assumed to start at root instead of current directory.   The issue is encountered from `runexamples.sh` which downloads the data into current directory and then untars into `./workspace`.  However,  the following code from [tutorials/3d_classification/torch/densenet_evaluation_array.py](tutorials/3d_classification/torch/densenet_evaluation_array.py)  with le

[2021-08-01 14:42] Nic-Ma commented on #297
Hi @yiheng-wang-nv ,

Could you please help take a look this ticket?

Thanks in advance.

[2021-08-01 18:18] robert-s-lee commented on #297
I am making couple of mods to improve testing.   Feel free to assign this to me as I am in a process of making changes.

[2021-08-02 07:39] RespectKnowledge opened #298 "How to choose spacing in dynunet"
Hello
I want to use dynunet for segmentation. I have dataset with different spacing. How can I choose spacing for my own dataset?

[2021-08-02 07:42] Nic-Ma commented on #298
Hi @RespectKnowledge ,

Thanks for your interest here.
@wyli @rijobro , could you please help share some experience about `spacing` values?

Thanks in advance.

[2021-08-02 09:21] Nic-Ma opened #299 "Reimplement 4th place solution of RANZCR challenge"
**Is your feature request related to a problem? Please describe.**
Add the implementation in `tutorials/kaggle/RANZCR/4th_place_solution`, for the first step:
1. Replace the `CSV reading + OpenCV loading` logic with MONAI `CSVDataset + LoadImage transform`.
2. Replace all the albumentation transforms with MONAI transforms.

[2021-08-02 15:44] ahatamiz opened #300 "Add UNETR PyTorch Lightning Tutorial"
**Is your feature request related to a problem? Please describe.**
Add tutorial for UNETR for BTCV multi-organ segmentation that supports the usage of PyTorch Lightning.
**Describe the solution you'd like**
A new PR that achieves this. Note that it should support latest version of MONAI (0.6.0) and PyTorch Lightning (1.4.0).

[2021-08-02 21:15] desserdmi commented on #86
Hi guys,

I am trying to perform a very similar task: I have 3D images (CT scans) and corresponding masks including 3 classes of labels: background, bleeding and edema..(all the classes are within one mask/segmentation file). I have changed the parameter to softmax as described above and still get the error: "index 5 is out of bounds for dimension 4 with size 2". Restarting the notebook has not so

[2021-08-05 15:11] hasansari commented on #130
Hello, I am just wondering if there is a new transform implemented in Monai to get 2D samples from 3D volumes. I use RandWeightedCropd during the training to feed random slices into my 2D network. My question is if there is any function to sequentially get all test all of the slices of a 3D volume during the inference stage so I can save the output as a 3D volume?

Thanks in advance!

[2021-08-09 13:52] #300 closed

[2021-08-10 20:57] vankhoa21991 opened #303 "ImportError: cannot import name 'EnsureType'"
**Describe the bug**
Hello I ran into an issue while importing EnsureType:

from monai.transforms import AddChannel, Compose, RandRotate90, Resize, ScaleIntensity, EnsureType

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'EnsureType'

**To Reproduce**
I installed MONAI, this is what happened when I import monai and print_config:

MONAI ve

[2021-08-10 21:05] vankhoa21991 commented on #303
Issue fixed by installing 0.6.0

[2021-08-10 22:27] #303 closed

[2021-08-11 01:00] drbeh opened #304 "NVTX Transform Tutorial"
**Is your feature request related to a problem? Please describe.**
Codes and guides on how to use NVTX transforms for an existing MONAI pipeline.

[2021-08-11 05:31] yongyuandeyezi opened #306 "torch.jit.load() cannot load downloaded deepgrow models"
I tried to run the inference of deepgrow, it crashed when loaded the  downloaded model.
model = jit.load(model_path)
Segmentation fault (core dumped)

[2021-08-11 06:15] Nic-Ma commented on #306
Hi @SachidanandAlle ,

Could you please help confirm this issue? Maybe we need to update the DeepGrow tutorial?

Thanks in advance.

[2021-08-11 07:48] SachidanandAlle commented on #306
What is the downloaded model size here.. may be the download is not complete.. what is the download url..?

[2021-08-12 01:34] yongyuandeyezi commented on #306
download url of deepgrow 2d: https://drive.google.com/uc?id=1_J4qj-JRqQc9g8SGegq63Z_wq6gqgLLg
download url of deepgrow 3d: https://drive.google.com/uc?id=1BcU4Z-wdkw7xjydDNd28iVBUVDJYKqCO
deepgrow_2d.ts: 30517kb
deepgrow_3d.ts: 88499kb
I can run the inference using the model 2d_model.ts trained by myself
![image](https://user-images.githubusercontent.com/35683606/129124663-b2b6e917-7098-455e-bfe0-

[2021-08-12 15:52] #304 closed

[2021-08-13 08:38] wyli opened #308 "cron test error: pathology/tumor_detection/ignite/profiling_camelyon_pipeline.ipynb"
**Describe the bug**
from the nightly log: https://github.com/Project-MONAI/MONAI/runs/3319164834?check_suite_focus=true
[code]

[2021-08-13 08:42] wyli commented on #308
cc @drbeh

[2021-08-15 08:52] talhaanwarch commented on #136
First you have to load image using PIL, nibabel.
For example if you have 2D image, it will be read as (512,512)
Then add an extra dimension at axis 0, (1,512,512)
Pass it through model(image)

[2021-08-15 08:52] talhaanwarch commented on #136
If it still need, i can write a script

[2021-08-16 13:11] dyollb opened #311 "Add tutorial example using NiftiSaver"
**Is your feature request related to a problem? Please describe.**
I am using the spleen lighting tutorial with custom data and would like to save the predicted segmentations as nifti files. Since the NiftiSaver and PngSaver are not used in the examples it is a bit difficult to figure out how to use them.

**Describe the solution you'd like**
Please add an example how to use `NiftiSaver`.

**Descr

[2021-08-16 14:26] Nic-Ma commented on #311
Hi @dyollb ,

Thanks for your interest here and experiments.
I think you can refer to this example:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_evaluation_dict.py#L64

Thanks.

[2021-08-16 15:05] dyollb commented on #311
Thanks for your reply. The approach using SaveImage from your link above produces the same weird image.

It seems I have a bug somewhere else, maybe related to loading/saving the trained model. Closing this issue.

[2021-08-16 15:05] #311 closed

[2021-08-17 22:54] Nic-Ma commented on #308
Hi @drbeh ,

Could you please help take a look this ticket?
Please enable the test again when you fixed it.

Thanks in advance.

[2021-08-17 22:57] Nic-Ma opened #312 "Update the fast_training tutorial with latest solution"
**Is your feature request related to a problem? Please describe.**
Recently, we spent much time optimizing the performance of spleen training, got obvious improvement in:
https://github.com/Project-MONAI/tutorials/blob/master/acceleration/fast_training_tutorial.ipynb

Will try to update it when the multi-threads cropping finalized:
https://github.com/Project-MONAI/MONAI/issues/2794

[2021-08-20 06:26] ahatamiz commented on #191
Hi @rijobro

I tried to use this TTA implementation for a segmentation application. After reading the source code, it turns out it expects raw input data dictionary as opposed to a PyTorch tensors ? ideally this is a post-transform which should also accept PyTorch tensors  and then apply additional transforms.

I also agree with @dongyang0122. The tutorial can be improved by including a 3D use-cas

[2021-08-20 08:09] wyli opened #313 "cron test error ./acceleration/automatic_mixed_precision.ipynb"
**Describe the bug**
from log https://github.com/Project-MONAI/MONAI/runs/3378784431?check_suite_focus=true
also in ./acceleration/fast_training_tutorial.ipynb
[code]

[2021-08-20 08:10] wyli commented on #313
could you please help look into these new errors? @Nic-Ma

[2021-08-20 11:08] Nic-Ma commented on #313
Hi @wyli ,

Thanks for raising the ticket.
That's expected error, I already submitted ticket: https://github.com/Project-MONAI/tutorials/issues/312, will totally update this tutorial next week.

Thanks.

[2021-08-23 05:46] Shyamapada34 opened #314 "How to set the parameters of RandCropByPosNegLabeld() for pancreas segmentation (Task07_Pancreas)?"
Dear Sir,
I want to segment the pancreas from CT images (Task07_Pancreas), so I have taken the Jupyter notebook code 'spleen_segmentation_3d_lightning.ipynb'. But, I got the following error:
raise ValueError("The size of the proposed random crop ROI is larger than the image size.")
ValueError: The size of the proposed random crop ROI is larger than the image size.

The error were occurring in the

[2021-08-23 08:06] Nic-Ma commented on #314
Hi @Shyamapada34 ,

Thanks for your interest here.
The error is because the data shape of some images in your dataset is smaller than (96, 96, 96), so it failed to crop.
Please try to adjust the crop size of spleen dataset to your dataset.

Thanks.

[2021-08-23 09:10] Nic-Ma opened #316 "Update Brats tutorial to align with Clara 4.0 MMAR"
**Is your feature request related to a problem? Please describe.**
As the Brats tutorial is not the latest solution, need to update it according to the MMAR of Clara 4.0.
Then we may try to enhance the performance based on it.

[2021-08-24 00:05] #312 closed

[2021-08-24 08:05] wyli commented on #313
closed via https://github.com/Project-MONAI/tutorials/pull/315

[2021-08-24 08:05] #313 closed

[2021-08-24 13:53] wyli opened #317 "nightly test error: profiling_camelyon_pipeline.ipynb"
**Describe the bug**
[code]
**Additional context**
Add any other context about the problem here.

[2021-08-24 13:54] wyli commented on #317
could you please help here @drbeh, thank in advance!

[2021-08-24 15:50] wyli commented on #308
addressed by https://github.com/Project-MONAI/tutorials/pull/310/ https://github.com/Project-MONAI/tutorials/pull/318

[2021-08-24 15:50] #308 closed

[2021-08-25 09:39] lilipj opened #321 "sliding windows inference for binary classification problem"
Is it possible to use the sliding windows inference for a classification problem (2d)?
I'm getting an error when the prediction dimension is different from the image dimension :

RuntimeError: The size of tensor a (128) must match the size of tensor b (2) at non-singleton dimension 1

with : size of sliding windows = 128, and the size of the tensor prediction = 2.

Thanks in advance.

[2021-08-25 09:45] wyli commented on #321
Is this a duplicate of https://github.com/Project-MONAI/MONAI/discussions/1706? Please use that discussion tab. The issue list here is for reporting bugs and requesting specific features

[2021-08-25 09:45] #321 closed

[2021-08-25 09:46] Nic-Ma commented on #321
Hi @lilipj ,

And could you please help provide your full test program for further analysis?
I think it should be related to some data shape issue, please make sure your `image` and `label` are `CHWD` shape(use `EnsureChannelFirstd` transform for them).

Thanks.

[2021-08-25 09:49] #174 closed

[2021-08-25 09:50] #178 closed

[2021-08-25 09:51] #185 closed

[2021-08-25 09:55] wyli commented on #298
New utility function is now available https://github.com/Project-MONAI/MONAI/blob/dev/monai/data/dataset_summary.py for computing median spacing from a dataset.

[2021-08-25 09:55] #298 closed

[2021-08-25 09:58] #314 closed

[2021-08-25 16:52] #316 closed

[2021-08-27 01:37] Nic-Ma opened #324 "enhance performance of Brats tutorial"
**Is your feature request related to a problem? Please describe.**
Need to optimize the training time of Brats tutorial for a better performance.

[2021-08-31 06:56] RespectKnowledge commented on #298
Thanks for sharing

[2021-08-31 11:18] Shyamapada34 opened #327 "Hi Team,"
**Please use MONAI's Discussions tab**
For questions relating to MONAI usage, please do not create an issue.

Instead, use [MONAI's GitHub Discussions tab](https://github.com/Project-MONAI/MONAI/discussions). This can be found on the MONAI repository's main page (not the tutorials) next to Issues and Pull Requests along the top.

[2021-08-31 11:30] Shyamapada34 opened #328 "How to segment spleen of test image without mask?"
Hi Monai Team,
I have trained segmentation model using your code 'spleen_segmentation_3d.ipynb' by using MSD spleen dataset. I have a new spleen dataset, where mask is absent. How to inference these test images ?

with regards
Shyama

[2021-08-31 11:32] #327 closed

[2021-08-31 11:36] Nic-Ma commented on #328
Hi @Shyamapada34 ,

Thanks for your interest here.
I think you can refer to this tutorial example:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_inference_dict.py

Thanks.

[2021-08-31 11:52] Shyamapada34 commented on #328
Thanks for immediate reply.
I have another question. I want to segment pancreas and pancreatic cancer. Can you suggest which is the best model in your repo for pancreas CT data?
with regards
Shyama

[2021-08-31 12:19] Nic-Ma commented on #328
Sorry I don't have experience on that dataset. Maybe you can start investigation from UNet.

Thanks.

[2021-08-31 13:52] #250 closed

[2021-08-31 13:53] slbryson commented on #250
A

[2021-08-31 13:53] slbryson commented on #250
Obtained the link for the MONAI Google drive.  Need to verify that the updated link has been added to the code.

[2021-08-31 21:47] slbryson opened #330 "Update Tutorial Readme with Short Triton Demo Description"
**Need to have a description of all the demos included in the repo including the Tritan demo

**Add description of Triton Demo

**Alternatively, the Triton description could be left off the list.

[2021-08-31 22:24] slbryson opened #331 "Create Jupyter Notebook for Triton demo"
**Is your feature request related to a problem. Goal to create a consistent demo experience related to other deployment demos

**Describe the solution you'd like**
Use shell escape commands and cell code writing in Jupyter to allow user to run demo from with notebook.

**Describe alternatives you've considered**
The current service Runs using scripts and could be continued.

**Additional context**

[2021-09-01 04:59] Shyamapada34 commented on #328
Thanks for your reply

with regards
Shyama

[2021-09-01 08:42] #299 closed

[2021-09-01 13:53] #328 closed

[2021-09-02 22:04] slbryson opened #336 "Add MedNIST example to Triton Demo"
**Demonstrate the DensNet Classification Inference with MedNIST dataset using Triton Inference Server.

Replicate the classification problem used in other demo's on Triton

[2021-09-03 08:38] #336 closed

[2021-09-03 15:53] #324 closed

[2021-09-06 02:50] Nic-Ma opened #341 "Add TCIA data loading tutorial with CSVDataset"
**Is your feature request related to a problem? Please describe.**
This is a sub-task of https://github.com/Project-MONAI/MONAI/issues/2877
Will load TCIA data from CSV file and use the link to get image data from REST API.

[2021-09-08 11:24] sergiosgatidis opened #343 "Error when using batch size > 1 in the spleen segmentation example"
**Describe the bug**

When following the 3D Spleen segmentation example I get the following error when changing the batch size from 1 to 2:

"RuntimeError: stack expects each tensor to be equal size, but got [1, 226, 157, 113] at entry 0 and [1, 305, 267, 124] at entry 1
Collate error on the key 'image' of dictionary data.

MONAI hint: if your transforms intentionally create images of different sh

[2021-09-08 12:24] #343 closed

[2021-09-09 13:09] yiheng-wang-nv opened #346 "Unresolved questions in Kaggle Ranzcr Solution"
Details: https://github.com/Project-MONAI/tutorials/tree/master/kaggle/RANZCR/4th_place_solution#places-uncovered
We may need to change our efficientnet implementation in the future.

[2021-09-10 11:07] #341 closed

[2021-09-10 13:26] Sebagam opened #347 "Tensor in cuda to numpy"
Hi all,

I have the following tensor which is the probability output of my MONAI Densenet model:

[tensor([0.0507, 0.9493], device='cuda:0'),
 tensor([0.0484, 0.9516], device='cuda:0'),
 tensor([0.0021, 0.9979], device='cuda:0'),...

I want to transform it to NumPy, but I don't have the traditional methods such as .numpy() or .cpu()

How can I do this?
Thanks

[2021-09-10 13:29] Nic-Ma commented on #347
Hi @Sebagam ,

The `ToNumpy` transform may help you:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/transforms/utility/array.py#L377

Thanks.

[2021-09-10 13:54] Sebagam commented on #347
Thanks, do you mean something like:

y_probs = Compose([EnsureType(),ToTensor()])
y_probs(y_pred_act)

the tensor "y_pred_act" still is in tensor form after that transformation

On Fri, Sep 10, 2021 at 10:29 AM Nic Ma ***@***.***> wrote:

[2021-09-10 14:06] Nic-Ma commented on #347
Hi @Sebagam ,

I mean to use `ToNumpy` transform not `ToTensor` transform.

Thanks.

[2021-09-10 14:08] Sebagam commented on #347
Sorry is too early here : )

On Fri, Sep 10, 2021 at 11:06 AM Nic Ma ***@***.***> wrote:

[2021-09-13 07:18] Nic-Ma opened #348 "Add user manual for fast training"
**Is your feature request related to a problem? Please describe.**
As we already have several existing tutorials and examples to show how to achieve a fast training with MONAI skills properly, it's necessary to write a detailed summary as a user manual to introduce all the skills and how to use in examples.

[2021-09-13 12:08] wyli opened #349 "nightly test error -- ./modules/mednist_GAN_workflow_array.ipynb"
**Describe the bug**
from the nightly build log of [12th/sept](https://blossom.nvidia.com/dlmed-clara-jenkins/job/Monai-notebooks/176/console)
[code]

[2021-09-13 12:09] wyli commented on #349
had a quick look, maybe there's an issue of RandZoom for the floats @Nic-Ma, could you please help address it?  cc @rijobro

[2021-09-13 12:24] Nic-Ma commented on #349
OK, let me try to fix it ASAP.

Thanks.

[2021-09-13 16:59] #349 closed

[2021-09-14 19:46] Sebagam opened #351 "3D classification tutorial - Occlusion sensitivity"
Dear all,

Why is the occlusion sensitivity output vertically inverted in the tutorial? How can you rotate the plot?
In my case, I'm getting a 90 degrees rotated output.

Best

[2021-09-14 22:16] Nic-Ma commented on #351
Hi @Sebagam ,

Thanks for your feedback, may I know which exact tutorial you refer to?

[2021-09-14 22:20] Sebagam commented on #351
This one:
https://github.com/Project-MONAI/tutorials/blob/master/3d_classification/densenet_training_array.ipynb

On Tue, Sep 14, 2021 at 7:17 PM Nic Ma ***@***.***> wrote:

[2021-09-14 22:25] Nic-Ma commented on #351
I think we didn't apply `Orientation` transform in this example, maybe you can add it to correct the image orientation?
CC @wyli @ericspod .

Thanks.

[2021-09-15 06:14] wyli opened #352 "cron test error -- ./modules/transfer_mmar.ipynb"
**Describe the bug**
logs from https://github.com/Project-MONAI/MONAI/runs/3604008777?check_suite_focus=true
[code]

[2021-09-15 06:15] wyli opened #353 "cron test error -- ./modules/transforms_demo_2d.ipynb"
**Describe the bug**
logs from https://github.com/Project-MONAI/MONAI/runs/3604008777?check_suite_focus=true
[code]

[2021-09-15 06:18] wyli commented on #351
will the `origin{'upper', 'lower'},` parameter of the imshow resolve this?
https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.imshow.html

[2021-09-15 21:03] #353 closed

[2021-09-16 23:12] ebrahimebrahim commented on #115
Is there a registration tutorial now?

[2021-09-17 02:41] yimuu opened #355 "Vit tutorial"
Can you provide a tutorial on using Vit?

[2021-09-17 02:48] ahatamiz commented on #355
Hi @yimuu

Thanks for your suggestion. Sure, I will create a PR to address this. It may take some time but will be added soon.

[2021-09-17 11:56] wyli commented on #352
this is still an issue

[2021-09-17 14:37] #352 closed

[2021-09-20 15:06] #348 closed

[2021-09-22 11:01] wyli opened #365 "nvflare tutorial relies on monai 0.6.0."
"num_class" brings an error for nvflare tutorial since it relies on monai 0.6.0.

__Originally posted by @yiheng-wang-nv in https://github.com/Project-MONAI/tutorials/pull/322#issuecomment-924692263__

[2021-09-22 14:31] yiheng-wang-nv commented on #365
Thanks @wyli , since @holgerroth suggests to add deterministic flag in the nvflare tutorial, I will submit a pr to cover these two places together.

[2021-09-23 12:24] frvalentini commented on #134
Hello @kate-sann5100 and @YipengHu,

Is there any ETA on a tutorial for GlobalNet with unpaired, ddf and label supervision? I'd like to check if my work has no obvious error.
I tried by myself and got some results using GlobalNet by using everytime the same atlas for fixed_image and fixed_label.
I used as a loss a linear combination of LNCCLoss, DiceLoss and BendingEnergyLoss but don't know which

[2021-09-23 13:04] YipengHu commented on #134
@fvlntn first, not sure we have such a plan as there would be so many permutations with the options of labels, losses and transformation etc ;) but do keep us updated with your experiments with any interesting findings or bugs! As for the weight between these losses, it is a good question and i'd say very much application-dependent (also implementation-dependent as well). For example, we use a ver

[2021-09-23 13:14] fvlntn commented on #134
@YipengHu Thanks for the answer, I meant a tutorial for unpaired registration and a different one for GlobalNet, not necessarily the one I said in my first comment. (As you mentioned in https://github.com/Project-MONAI/tutorials/issues/134#issuecomment-791517929)

Thanks for the information. For the weights, I'm actually experimenting with my data to get the best weights possible for the loss, but

[2021-09-23 14:19] YipengHu commented on #134
@fvlntn :) good catch. i'm afraid we (sort of) decided not go ahead with those suggestions. correct me if i'm wrong here @kate-sann5100 one of the limitations we had was the limited publicly available data which do not allow us to prove/disapprove large useful registration networks. If getting things "just working" for those data, it could even be misleading, for example in the pre-configured hype

[2021-09-23 14:26] fvlntn commented on #134
Alright, thanks alot for your time and your explanations!

[2021-09-24 03:28] yiheng-wang-nv commented on #365
Hi @holgerroth , so far, nvflare cannot ensure determinism (I tested with clara and monai based trainer). I will update the tutorial with monai 0.7.0 first.

[2021-09-27 07:06] #365 closed

[2021-09-28 10:12] wyli opened #377 "Missing module error in Federated Learning with NVFlare tutorial"
### Discussed in https://github.com/Project-MONAI/tutorials/discussions/376

<div type='discussions-op-text'>

<sup>Originally posted by **sorensenmarius** September 28, 2021</sup>
I have followed each step of the federated learning with NVFlare without Docker tutorial, and have run into a problem when I want to start the server and the clients. When I do the "Run federated learning" step in the R

[2021-09-30 11:23] rijobro opened #378 "Rand3dElasticd example is blank"
Example of Rand3dElasticd is blank in [this](https://github.com/Project-MONAI/tutorials/blob/master/modules/3d_image_transforms.ipynb) tutorial (bottom of notebook).

[2021-09-30 14:09] Nic-Ma commented on #378
Hi @yiheng-wang-nv ,

I think that's random transform, could you please help re-run the notebook to show a more `reasonable` result in the chart?

Thanks.

[2021-09-30 14:21] davidiommi opened #379 "UNETR: parameters question"
First of all: nice work UneTR and all the best for the review process.

I have one question: are there any indications on how to regulate the parameters of the network depending on the dataset we are working on?

feature_size (int) – dimension of network feature size.
hidden_size (int) – dimension of hidden layer.
mlp_dim (int) – dimension of feedforward layer.
num_heads (int) – number of attentio

[2021-09-30 15:39] Nic-Ma commented on #379
Hi @davidiommi , thanks for your interest here.
@ahatamiz , could you please help share some comments about this question?

Thanks in advance.

[2021-09-30 15:54] rijobro commented on #378
Thanks. That said, even though it's a random transform, it should be possible to set the parameters such that the image always stays in the field of view.

[2021-09-30 16:18] ahatamiz commented on #379
Hi @davidiommi ,

Thank you for your interest in our work. This is a great question regarding the different hyper-parameters that are used in UNETR. Let me first provide a short answer: `feature_size` and `pos_embed` are the parameters that need to changed to adopt it for your application of interest. Other parameters that are mentioned come from Vision Transformer (ViT) default hyper-parameters (

[2021-10-01 00:23] Nic-Ma commented on #378
That makes sense, we should set random seed in it.

Thanks.

[2021-10-01 16:49] hw-ju opened #380 "Slightly revise 2D segmentation tutorial scripts"
For tutorial scripts here https://github.com/Project-MONAI/tutorials/tree/master/2d_segmentation/torch,
the synthetic PNG images are always whole black, since the image arrays are made up of 0s and 1s. One user, who just begins to learn MONAI, found it quite confusing and asked me if anything is wrong.

Shall we slightly modify these scripts so that the synthetic images are not whole black and are

[2021-10-01 16:58] hw-ju opened #381 "SLURM + Singularity sample scripts"
The Research Computing team at University of Florida just put sample scripts for multi-node multi-gpu MONAI using SLURM and Singularity at their github https://github.com/UFResearchComputing/MultiNode_MONAI_example.

Shall we put a link in MONAI tutorial repo to direct users there? The scripts contain comments and should be self-explanatory.

[2021-10-02 05:37] Nic-Ma commented on #381
Hi @hw-ju ,

Thanks for providing the reference link, I will put it in the distributed training guide of MONAI tutorial.

[2021-10-02 05:39] Nic-Ma commented on #380
Hi @hw-ju ,

Thanks for your feedback, makes sense to me.
I will try to enahcne the tutorial example ASAP.

Thanks.

[2021-10-02 08:51] Nic-Ma commented on #378
Hi @rijobro ,

I submitted PR #383 to update the tutorial with a fixed random state.
Could you please help review it?

Thanks.

[2021-10-02 09:53] #378 closed

[2021-10-02 23:55] Nic-Ma opened #385 "Update MMAR transfer learning with MONAI v0.7"
**Is your feature request related to a problem? Please describe.**
Hi @wyli , I am not sure whether the MMARs can be compatible with MONAI v0.7?
If not, maybe I need to change to tutorial to use a fixed MONAI version (0.6)?

Thanks.

[2021-10-04 09:50] #381 closed

[2021-10-04 09:55] #380 closed

[2021-10-04 10:01] wyli opened #386 "readme.md for the `acceleration` folder"
**Is your feature request related to a problem? Please describe.**

would be great to create a readme file in the acceleration folder so that it'll be easier to navigate through the different approaches for speeding up training.

perhaps we can do the same for the `modules` folder.

[2021-10-04 10:48] Nic-Ma commented on #386
Thanks for raising this up.
I will try to prepare a README doc ASAP.

Thanks.

[2021-10-04 12:47] wyli commented on #385
I tested those, all look good, I'll add an integration test for the loading.

[2021-10-04 15:20] davidiommi commented on #379
Thanks for your reply.

I am testing the network on other segmentation tasks (prostate) but performances are worse than the dynet/nnUnet. After reading more about visual transformers I understand that I would need much more data compared to the Cnns.

We will see in the future is UneTR will outperform CNN with medical images.

Thanks again.

[2021-10-04 15:20] #379 closed

[2021-10-04 16:12] ahatamiz commented on #379
Hi @davidiommi

Great. I think it may also need more tuning/training based on your specific task. On task 6 of MSD dataset ( prostate ) we have already outperformed nnUnet on our internal validation folds.

Thanks.

[2021-10-07 10:31] Ryurin opened #392 "Problem with 3d_segmentation/brats_segmentation_3d.ipynb"
Hello,

I tried this tutorial, but I don't have the waited result. I obtained a binary segmentation, whereas the title suggests multi label segmentation.

The label images have 4 labels (0 to 3) and if I comment ConvertToMultiChannelBasedOnBratsClassesd class, I have a multi label image (but the model cannot be created). If I display label image with this correction function, I obtain just two col

[2021-10-07 11:55] Ryurin commented on #392
Sure, you can see my result below. And thanks for your answer, I was scared to misunterstand the goal of this tutorial.

image shape: torch.Size([4, 240, 240, 155])
label shape: torch.Size([3, 240, 240, 155])

![output](https://user-images.githubusercontent.com/15381434/136379071-2aa75960-af95-41a6-9bf0-cf06bc634c93.png)

[2021-10-07 15:06] Nic-Ma commented on #392
No problem.
Please feel free to raise a discussion or issue if you have any more questions.

Thanks.

[2021-10-08 11:35] wyli opened #396 "test error -- ./deployment/ray/mednist_classifier_ray.ipynb"
**Describe the bug**
from nightly tests:
[code]

[2021-10-08 14:21] #396 closed, assigned to ericspod

[2021-10-17 18:24] hasansari opened #401 "Code with new performance enhancements - CUDA out of memory error"
I am trying the new performance enhancements following the updated tutorial on spleen segmentation but I am getting "CUDA out of memory error" when I try the example with performance enhancements. The old code without the performance enhancements works fine. I am keeping the patch size, batch size, number of samples same or smaller values.

Any ideas what might be causing this?

[2021-10-18 01:41] Nic-Ma commented on #401
Hi @hasansari ,

Thanks for your interest here.
The fast training solution caches data to GPU memory directly, so in theory, it requires a bigger memory size.

Thanks.

[2021-10-19 23:32] Nic-Ma opened #407 "Track training status with MLFlow handler"
As we already added the `MLFlowHandler` in MONAI source code, need to show the usage in a training loop to track some status (loss, metrics, etc.)

[2021-10-20 10:01] Nic-Ma opened #409 "Update fast training tutorial with the new arg of CacheDataset to avoid deepcopy"
**Is your feature request related to a problem? Please describe.**
As we added a new argument `copy_cache` in `CacheDataset`, we can improve the fast training tutorial with it.

[2021-10-20 11:16] #409 closed, assigned to Nic-Ma

[2021-10-20 14:25] wyli commented on #377
thanks, this is addressed by https://github.com/Project-MONAI/tutorials/pull/291.

[2021-10-20 14:29] #347 closed

[2021-10-21 06:19] yiheng-wang-nv opened #413 "Use `DatasetSummary` for DynUNet pipeline"
As the discussion in https://github.com/Project-MONAI/MONAI/discussions/3149, DynUNet pipeline can add the method that help to achieve the spacing, normalization and clip values of each task.

[2021-10-21 18:14] rekalantar opened #415 "UNETR using random 96x96x96 patches and non-overlapping 16x16x16 sub-patches?"
Hi Ali, thank you for sharing this great work.

I had a question regarding the image and patch sizes. I noticed that UNETR uses non-overlapping sub-patches of size 16 from patches of 96 which are randomly selected from the image volume. In this case is it fair to say that the network is still not able to take into account the entire imaging volume? From the tutorial my understanding is that 'RandC

[2021-10-21 22:56] Nic-Ma commented on #415
Hi @rekalantar ,

In the tutorial, we set `num_samples=4` in `RandCropByPosNegLabeld`, so it will crop out 4 patches at 1 time.
@ahatamiz Could you please help share more comments about the UNETR question?

Thanks in advance.

[2021-10-21 23:07] ahatamiz commented on #415
Hi @rekalantar

Thanks for your interest in our work. We first samples inputs of size (96,96,96) from the entire volume and then utilize (16,16,16) non-overlapping patches from each sample. This process is similar to general ImageNet computer vision wherein images of different sizes are first resized to (256,256) and then center-cropped.

On another note, using the entire imaging volume is not fea

[2021-10-22 11:21] wyli opened #416 "cron test error: ./3d_segmentation/unet_segmentation_3d_ignite.ipynb"
**Describe the bug**
nightly build error since https://github.com/Project-MONAI/tutorials/pull/408
[code]

[2021-10-22 16:39] #416 closed, assigned to nobody

[2021-10-22 23:56] Nic-Ma opened #418 "Need to retrain the AMP tutorial"
**Is your feature request related to a problem? Please describe.**
As the chart in the AMP tutorial is more 1 year ago, Daguang and Prerna requested to retrain the tutorial notebook with latest docker and code. And add the exact test values in the charts.

[2021-10-25 11:54] melonipoika opened #419 "Missing dependencies in deepgrow tutorial"
**Describe the bug**

Missing reader for nii.gz images

**To Reproduce**
Steps to reproduce the behavior:
1. Run this [notebook](https://github.com/Project-MONAI/tutorials/blob/master/deepgrow/ignite/inference_3d.ipynb)
2. `Pre Processing` fails with:

[code]
**Expected behavior**

It should be possible to run this cell.

**Environment (please complete the following information):**
 - OS
[code]
 -

[2021-10-25 14:37] #419 closed, assigned to nobody

[2021-10-25 14:41] #415 closed, assigned to nobody

[2021-10-25 14:41] #401 closed, assigned to nobody

[2021-10-28 09:38] Nic-Ma opened #423 "Enhance the CSVIterableDataset tutorial notebook"
**Is your feature request related to a problem? Please describe.**
Need to enhance the CSVIterableDataset tutorial to show the shuffle and buffer features.

[2021-10-28 09:43] Nic-Ma opened #424 "Enhance the models ensemble tutorial notebook"
**Is your feature request related to a problem? Please describe.**
Would be nice to update the models ensemble tutorial to be "cross_validation_and_models_ensemble" tutorial:
https://github.com/Project-MONAI/tutorials/blob/master/modules/models_ensemble.ipynb

[2021-10-29 09:43] yiheng-wang-nv opened #426 "Variable name error in nvflare example"
The shareablekey.type should be `TYPE_WEIGHTS` rather than `TYPE_WEIGHT_DIFF`.

[2021-10-29 15:48] SDTaoPeng opened #428 "Can not enter the loop step using Spleen 3D segmentation with MONAI tutorials"
I only use the  Spleen 3D segmentation with MONAI tutorials, when run to "for batch_data in train_loader:", it can not enter to the next step "step += 1". I do not change any thing. Just run the Spleen 3D segmentation tutorials. In the train_loader, it is the list function with 32 two-element dictionary types.

[2021-10-29 16:06] #426 closed, assigned to yiheng-wang-nv

[2021-10-29 18:55] SDTaoPeng commented on #428
I am not sure, I have restarted the jupyter notebook and try again? It is still the same issue

[2021-11-01 15:43] SDTaoPeng opened #432 "I use the Spleen 3D segmentation with MONAI tutorials, when using my data input torch.size([1,1,256,256,90]), it appears error."
**Describe the bug**
A clear and concise description of what the bug is.

Please only create issues here relating to the functioning of the tutorials. For all other questions/problems/bugs, please refer to MONAI's [main repository](https://github.com/Project-MONAI/MONAI). For MONAI bugs (not just a problem in the notebook), please create an [issue](https://github.com/Project-MONAI/MONAI/issues). F

[2021-11-01 15:44] SDTaoPeng commented on #432
Backend Qt5Agg is interactive backend. Turning interactive mode on.
Traceback (most recent call last):
  File "C:\Users\S209850\Pycharm\plugins\python-ce\helpers\pydev\pydevd.py", line 1477, in _exec
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "C:\Users\S209850\Pycharm\plugins\python-ce\helpers\pydev\_pydev_imps\_pydev_execfile.py", line 18, in execfile
    exec(

[2021-11-02 02:35] #423 closed

[2021-11-02 03:23] #424 closed

[2021-11-02 17:26] rijobro commented on #432
Hi, as the issue template clearly states, unless the issue is explicitly with the unchanged notebook, could you please post future questions as a Discussion in the main repository.
For your particular problem, your image has z=90, which isn't a multiple of 8 (there are four lots of stride=2).

[2021-11-02 17:26] #432 closed

[2021-11-03 02:01] ljljlj02 opened #433 "Spleen_segmentation_3d.ipynb was executed and the predicted label and background pixel values were reversed"
Hello, Monai is a very good job, but I encountered a problem when learning the tutorial. I used Spleen data, ran spleen_segmentation_3D.ipynb, the code did not change, and the Dice of the training set was the same as the tutorial. Dice can achieve 0.94. But there is a problem in the validation set:

In the 'Evaluation on original Image Spacings' module, the tutorial results in:  Metric on original

[2021-11-03 03:05] Nic-Ma commented on #433
Hi @yiheng-wang-nv ,

Could you please help double confirm the issue as we added this evaluation part several months ago?

Thanks in advance.

[2021-11-03 03:54] yiheng-wang-nv commented on #433
hi @ljljlj02 , I double checked the code and rerun the script, but I did not meet the "reversed" issue. You said you did not change any code, that's weird and can you ensure that the weights loaded are correct? By the way, what is the output of `print_config()` at the beginning of the notebook?

[2021-11-03 06:33] ljljlj02 commented on #433
Thank you, I don't know how to check my weight, so I have uploaded my execution code and weight in my repository, could you please help me to check where the problem is? (Just execute the parts that I didn't comment out.), my repository [https://github.com/ljljlj02/A-problem-about-Spleen_segmentation_3d].

In addition, my `print_config()` are as follows:
`MONAI version: 0.6.0
Numpy version: 1.19.2

[2021-11-03 10:31] rijobro commented on #433
It would be useful to `imshow` your results in the notebook. If they appear normal, that would imply that the problem occurs when saving/loading the image in ITKSnap. If the images appear inverted in the `imshow`, then that implies that something is going wrong elsewhere.

[2021-11-03 11:18] ljljlj02 commented on #433
I would understand if it was the ITK-Snap display error, but I did not get the same result as your tutorial when EXECUTING the code below:`print("Metric on original image spacing: ", metric_org)`
The tutorial result is "Metric on original image Spacings: 0.9637420177459717 "
My result is "Metric on original Image spacing: 0.05605338141322136"
There is a big difference between 0.9637420177459717 an

[2021-11-04 06:18] yiheng-wang-nv commented on #433
Hi @ljljlj02 , I ran your uploaded py file with your trained weights (what I changed are just modify the path variables and convert the file into .ipynb format ), and the result is reasonable: `0.9568932056427002 `

I'm not sure but I guess the weird 0.05+ result may due to the out-dated MONAI or other libraries' versions. The environment I used is MONAI docker:
![Screen Shot 2021-11-04 at 2 10 10

[2021-11-05 02:25] ljljlj02 commented on #433
Thank you very much @yiheng-wang-nv , I updated the versions of PyTorch and Monai with the following results:`Metric on original image spacing:  0.9568932056427002`

My confiure:
`MONAI version: 0.7.0
Numpy version: 1.19.2
Pytorch version: 1.10.0+cu113
MONAI flags: HAS_EXT = False, USE_COMPILED = False
MONAI rev id: bfa054b9c3064628a21f4c35bbe3132964e91f43

Optional dependencies:
Pytorch Ignite ve

[2021-11-08 15:55] wyli opened #434 "review and remove the duplicated authorship info"
**Is your feature request related to a problem? Please describe.**
the git history already tracks the original authors of the tutorials, there's no need to include additional info.

[2021-11-09 10:43] Harsh-Gill opened #435 "ImportError: cannot import name 'RandGridDistortion'"
**Describe the bug**
A clear and concise description of what the bug is.
Whenever i import monai it creates this

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-a5c75a452be4> in <module>()
     11
     12
---> 13 from monai.losses import DiceCELoss
     14 from monai.inferers i

[2021-11-09 10:59] wyli commented on #435
could you please follow the bug report template and provide more info? https://github.com/Project-MONAI/tutorials/issues/new?assignees=&labels=&template=bug_report.md&title=

[2021-11-09 11:05] wyli opened #436 "tutorial for data visualisations: matshow3d, blend image, itk widgets"
**Is your feature request related to a problem? Please describe.**
a follow-up of https://github.com/Project-MONAI/MONAI/issues/2721 is to create tutorials for transform outcome visualisations.

[2021-11-10 09:48] #435 closed

[2021-11-12 20:10] industArk opened #439 "download_and_extract to handle Path objects and downloaded file auto naming"
I rather work with pathlib and Path objects than with raw string paths. Today I stumbled upon two problems trying to use `download_and_extract()` from the apps module.

1. `filepath` and `output_dir` parameters don't get Path objects and it generates:

Wrapping them by str() helps to avoid the error.

As it is shown in the docs to use string, I think it would be good to have wider possibilities wi

[2021-11-14 19:57] Jingnan-Jia opened #440 "Please add another interpolation mode for NiftiSaver to avoid zigzag pattern caused by bilinear interpolation."
**Sorry I should propose this issue in MONAI main branch, instead of its tutorial. Please help to delete this issue because I have already proposed the same issue [here](https://github.com/Project-MONAI/MONAI/issues/3333)**

**Is your feature request related to a problem? Please describe.**
In the current NiftiSaver, there are only two interpolation modes:  "nereast" and "bilinear". It is not enou

[2021-11-14 22:39] wyli commented on #440
closing in favour of https://github.com/Project-MONAI/MONAI/issues/3333

[2021-11-14 22:39] #440 closed

[2021-11-14 22:44] wyli opened #441 "nightly test ./modules/benchmark_global_mutual_information.ipynb"
**Describe the bug**
[code]

[2021-11-15 08:48] #441 closed

[2021-11-16 10:47] wyli opened #443 "nightly build error: ./modules/TorchIO_MONAI_PyTorch_Lightning.ipynb"
**Describe the bug**
[code]

[2021-11-17 11:18] wyli commented on #443
could you help with this one? @Nic-Ma @yiheng-wang-nv  I couldn't replicate this issue

[2021-11-17 11:20] Nic-Ma commented on #443
Hi @wyli ,

Does your PR https://github.com/Project-MONAI/tutorials/pull/444 work for this issue?

Thanks.

[2021-11-17 11:25] wyli commented on #443
that PR doesn't fix the issue, I just suspect it's from the incompatible dependencies. cc @fepegar

[2021-11-17 11:28] fepegar commented on #443
Thanks, @wyli. I'll take a look at this.

[2021-11-17 11:30] wyli commented on #443
thanks, we have this issue since yesterday, perhaps it's matplotlib 3.5 released yesterday https://github.com/matplotlib/matplotlib/releases/tag/v3.5.0

[2021-11-17 11:40] fepegar commented on #443
I'm not sure what's going on. `deprecated` is meant to be happy with the `version` kwarg: https://github.com/tantale/deprecated/blame/master/deprecated/classic.py#L86

Is there a specific way to reproduce this? I got no errors on Colab.

[2021-11-17 22:18] wyli commented on #443
I can replicate this issue by first installing a previous version:
[code]
and then run this jupyter notebook locally with `jupyter notebook`
https://github.com/Project-MONAI/tutorials/blob/master/modules/TorchIO_MONAI_PyTorch_Lightning.ipynb

any idea? @fepegar

[2021-11-17 22:27] wyli commented on #443
I guess it's the previous version of deprecated polluted the namespace https://github.com/vrcmarcos/python-deprecated/blob/d889719269a5fa469346f8d4888d69fb4f4291c0/deprecated/__init__.py#L19

[2021-11-18 07:39] #443 closed

[2021-11-19 09:22] wyli opened #450 "tutorials are broken due to `AsDiscrete` and `AsDiscreteD` updates"
**Describe the bug**
the recent update of `AsDiscrete` and `AsDiscreteD` break many tutorials,
this should be rectified accordingly

see also https://github.com/Project-MONAI/MONAI/pull/3352.

[2021-11-19 09:23] wyli commented on #450
@yiheng-wang-nv, could you please look into this?

[2021-11-22 09:24] #436 closed

[2021-11-22 11:37] yiheng-wang-nv commented on #450
Hi @wyli , sure. I was busy on other tasks, and now I'm able to start to update the related tutorials.

[2021-11-23 13:23] yiheng-wang-nv opened #453 "Performance_profilling error"
I met the following error when running `radiology/train_base_nvtx.py`:

![Screen Shot 2021-11-23 at 9 08 53 PM](https://user-images.githubusercontent.com/68361391/143031843-4dbc1f5a-11d3-428d-88db-c87d24fcc0a3.png)

[2021-11-23 13:28] yiheng-wang-nv commented on #453
Hi @dongyang0122 , can you please help to check the file? I used MONAI docker (MONAI version: 0.8.0rc1+5.g37930a9b) and installed the libraries in `requirements.txt`

[2021-11-23 14:24] dongyang0122 commented on #453
@drbeh Hi Behrooz, can you take a look of this error message? Thanks!

[2021-11-26 08:52] yiheng-wang-nv opened #459 "Update NVIDIA FLARE 2.0 example"
Now, NVIDIA FLARE has released 2.0.1, the example here should be updated.

[2021-11-26 11:07] #450 closed

[2021-11-26 21:58] elitap opened #461 "Loading of pretrained weights of the new ssl tutorial fails"
**Describe the bug**
The loading of the pretrained ViT weight ins tutorials/self_supervised_pretraining/ssl_finetuning_train.py fails with:
Unexpected key(s) in state_dict: "linear_1.weight", "linear_1.bias".

**To Reproduce**
Download the provided weight file from: https://drive.google.com/file/d/1z0BouIiQ9oLizubOIH9Rlpad5Kk_2RtY/view
running ssl_finetuning_train.py

**Expected behavior**
should

[2021-11-26 22:52] Nic-Ma commented on #461
Thanks for the feedback!
Hi @finalelement , could you please help confirm the issue?

Thanks in advance.

[2021-11-29 09:12] praveenck06 opened #462 "AsDiscrete is expecting num_classes to be int but in documentation says num_classes is deprecated"
**Describe the bug**
AsDiscrete is expecting num_classes to be int but in documentation says num_classes is deprecated

For post transforms
`post_pred = Compose([EnsureType(), AsDiscrete(argmax=True, to_onehot=2,)])
post_label = Compose([EnsureType(), AsDiscrete(to_onehot=2,  )])
`

**Screenshots**
![image](https://user-images.githubusercontent.com/33887466/143839052-f2fb0df4-ca64-4a5d-99e8-db1851

[2021-11-29 09:14] Nic-Ma commented on #462
Hi @praveenck06 ,

Thanks for your interest here.
`num_classes` was just deprecated in MONAI v0.8, I see you are using MONAI v0.7.
So maybe you can update your MONAI version and try again?

Thanks.

[2021-11-29 09:29] praveenck06 commented on #462
My fault, I didnt notice 0.8 was released.
After updating to MONAI v0.8 I am not getting error

Thanks @Nic-Ma

Also, thanks for this amazing library and tutorials

[2021-11-29 09:31] Nic-Ma commented on #462
Please feel free to raise a ticket if you feel any other issues.

Thanks.

[2021-11-29 13:09] sebastianffx opened #463 "3d_segmentation/brats_segmentation_3d.ipynb TypeError: got an unexpected keyword argument 'threshold' for AsDiscrete transform"
**Describe the bug**
The argument _threshold_ is not expected when calling the transform _AsDiscrete_ cell 8 in the tutorial.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 3d_segmentation/brats_segmentation_3d.ipynb
2. Run code cells up to the number 8, the bug should come up.

**Expected behavior**
That the transformation could work with the specified threshold, probably is just a m

[2021-11-29 18:38] #462 closed

[2021-11-30 03:25] finalelement commented on #461
@Nic-Ma , @elitap Thank you for highlighting this issue, let me double check and get back.

[2021-11-30 09:24] #459 closed

[2021-11-30 14:19] Meddebma opened #464 "ViT for 3D brain images"
Dear all,

I tried to make a classification task of 3D brain images where I got a dice score >0.8 using DenseNet121, and I wanted to test whether I could improve it using ViT. When I tried the ViT implementation I've got this Error:
cross_entropy_loss(): argument 'input' (position 1) must be Tensor, not tuple

Could you please take a look on this notebook:
https://github.com/Meddebma/pyradiomics/b

[2021-12-01 06:38] Nic-Ma commented on #464
Hi @Meddebma ,

Thanks for your experiments and feedback here.
I think the root cause is that the `ViT` returns a tuple of 2 data instead of only 1 array:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/nets/vit.py#L112

Hi @finalelement @yiheng-wang-nv @wyli , I want to slightly enhance the `forward()` logic of ViT to make it optional to return the `hidden_states_out`, similar to o

[2021-12-01 07:46] finalelement commented on #461
Fix being pushed via https://github.com/Project-MONAI/tutorials/pull/465

[2021-12-01 07:53] finalelement commented on #464
@Meddebma I went through the notebook. This could also work out if you take outputs[0] for the loss instead of just outputs. since the ViT provides classification and the hidden states both. `loss = loss_function(outputs, labels)`

In brief, I agree with @Nic-Ma we could make the hidden states optional for easier use.

[2021-12-01 08:09] elitap commented on #461
Thank you very much, all weights are loaded perfectly now. Getting them saved me a lot of compute. Really nice tutorial thanks you :-)

[2021-12-01 08:09] #461 closed

[2021-12-01 08:20] Meddebma commented on #464
Hi @finalelement,
thanks for your help, I implemented your solution, but I've got the same problem in the validation after the second epoch, also the loss looked weired since it did not change. Here is the notebook:

https://github.com/Meddebma/pyradiomics/blob/master/Classification_HBI_ViT.ipynb

thanks

[2021-12-01 10:20] Nic-Ma commented on #464
@finalelement , let me try to fix the **TorchScript** and **distributed data-parallel** issues and added support to optionally return the `hidden_states_out` ASAP.

Thanks.

[2021-12-01 16:09] Nic-Ma commented on #464
Submitted draft PR for this ticket: https://github.com/Project-MONAI/MONAI/pull/3428.

Thanks.

[2021-12-01 16:52] finalelement commented on #464
@Meddebma you ran into that issue, because the model's prediction term also needs to be something like `model(val_images)[0]`

`
                    y_pred = torch.cat([y_pred, **model(val_images)**], dim=0)
                    y = torch.cat([y, val_labels], dim=0)
`

I would suggest to try fixing the validation, it is not the same way as how the prediction is being extracted from the training. Th

[2021-12-01 17:29] Meddebma commented on #464
Thank you very much @finalelement, this time it worked.

Unfortunately, something is not working in the classification, I get a accuracy of 0.5 that does not improve over the epochs
Is it a problem specific for my 3D Dataset?

https://github.com/Meddebma/pyradiomics/blob/master/Classification_HBI_ViT.ipynb

[2021-12-01 20:47] finalelement commented on #464
@Meddebma Have you tried this exact same data loading and post-processing with a smaller network architecture or any other network, to make sure everything else is working before concluding that there is something incorrect with ViT?

[2021-12-02 11:38] razorx89 opened #467 "SSL random augmentations broken with 0.8.0"
The self-supervised learning tutorial uses random augmentions to generate two different views of a CT image. However, with MONAI 0.8.0 the behaviour of the random transforms changed and the same random transform states will be applied to both image keys.

https://github.com/Project-MONAI/tutorials/blob/99e16a7d57c6d02773b510ed85cd0440cc4bba92/self_supervised_pretraining/ssl_script_train.py#L75-L82

[2021-12-02 13:06] Meddebma commented on #464
Hi @finalelement
I have tried exactly the same pipeline with Densenet212 and got an accuracy of 0.83 and AUC of 0.97,
I only changed the model.
Here is the notebook:
https://github.com/Meddebma/pyradiomics/blob/master/Classification_HBI.ipynb

[2021-12-03 19:32] gvigkannan commented on #463
Hi! The updated version of Monai - 0.8.0 was able to fix this issue.

[2021-12-03 22:07] finalelement commented on #467
This being fixed by [PR](https://github.com/Project-MONAI/tutorials/pull/468)

[2021-12-03 22:12] #467 closed

[2021-12-06 11:04] LouiseBloch commented on #464
I have the same problem with my 3D classification task and the VisionTransformer as well and no solution by now. However, if I train the pipeline using the DenseNet121 or the EfficientNetB0, it worked.

[2021-12-06 11:24] Nic-Ma commented on #464
Hi @finalelement ,

Could you please help share more details to help figure out the issues?

Thanks in advance.

[2021-12-06 15:07] finalelement commented on #464
@LouiseBloch @Meddebma are you guys specifically facing this issue with 3D classification task or is this reproducible for 2D as well?

I just verified the test cases, they look okay to me. We can perhaps resort to CIFAR testing before proceeding with this task for this net to narrow down on the issue?

[2021-12-06 23:24] ahatamiz commented on #464
@Nic-Ma This seems to be a very straightforward issue to deal with. The output of ViT is a tuple. The first need to be used for classification. This was done by design since we make use of intermediate feature maps in the UNETR:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/networks/nets/unetr.py#L191

Furthermore, a proper classification loss need to be used.

Maybe I should do a tutorial

[2021-12-07 00:13] Nic-Ma commented on #464
Hi @ahatamiz ,

Thanks for your update here.
BTW, I am working on a draft PR to enhance the ViT return data, we need to make sure `TorchScript` and `Distributed Data Parallel` can work well with it.

Thanks.

[2021-12-07 00:17] ahatamiz commented on #464
Hi @Nic-Ma

Thanks. Currently, I am looking into the issues with TorchScript and einops. I don't anticipate any issues with those.

Also, please let me know how you plan on changing the ViT outpts. There also needs to be some changes with UNETR if that needs to happen.

[2021-12-07 09:15] wyli opened #471 "nightly test: `./modules/csv_datasets.ipynb`"
**Describe the bug**
[code]

[2021-12-07 09:16] Nic-Ma commented on #471
Hi @wyli ,

Thanks for raising the error.
I am updating the tutorial to align with our latest API.

Thanks.

[2021-12-07 09:51] #471 closed

[2021-12-07 09:54] Meddebma commented on #464
@Nic-Ma @ahatamiz, thanks a lot for your help.
We would be very glad if you provide us a 3D ViT Tutorial, also maybe with an implementation of gradcam to explore visual attention effectively and have explainable classification out of images.
Thank you very much.

[2021-12-07 11:13] LouiseBloch commented on #464
Thank you very much. I think I have now solved the problem by decreasing the learning rate. Sorry for not checking this before.

[2021-12-07 11:15] Meddebma commented on #464
@LouiseBloch, can you share with me your code changes? I would be very glad! here is my email address aymenmeddeb@gmail.com
Thanks!

[2021-12-07 12:53] yiheng-wang-nv opened #473 "Update NVFlare example"
The NVFlare example has a `hello_monai` folder, which refers to [NVFlare's official example ](https://github.com/NVIDIA/NVFlare/tree/227c72e029cbab77dac7c96ca0f1b2a131a98d9e/examples/hello-monai).  Since that example may be updated, to avoid maintaining repeatedly, maybe it's better to remove the folder here.

[2021-12-07 16:11] #473 closed

[2021-12-08 02:12] yiheng-wang-nv opened #476 "Remove `find_unused_parameters=True` in `DistributedDataParallel ` in DynUNet Pipeline"
Since https://github.com/Project-MONAI/MONAI/pull/3427 has been merged, there is no need to set `find_unused_parameters=True` in `DistributedDataParallel `

[2021-12-08 08:37] #476 closed

[2021-12-08 16:49] #464 closed

[2021-12-11 12:07] timeanddoctor opened #482 "Can I registrate betweene 2d and 3d."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-16 01:57] Nic-Ma opened #486 "Add example model package"
**Is your feature request related to a problem? Please describe.**
Sub task of ticket https://github.com/Project-MONAI/MONAI/issues/3482
Create an example of model package.

[2021-12-22 01:31] alexey-khorkin opened #491 "Monai tutorials wrong link"
I just noticed that this link is not correct:
![image](https://user-images.githubusercontent.com/89856652/147019502-4f05ab36-41aa-4896-9b8d-c3ee0ee70853.png)
If we click on the link, we get:
![image](https://user-images.githubusercontent.com/89856652/147019600-34e60e94-ac8d-4862-91a8-274066ccf33d.png)

[2021-12-22 02:42] Nic-Ma commented on #491
Hi @alexey-khorkin ,

Thanks for your issue report, let me update it ASAP.

[2021-12-22 14:08] Nic-Ma commented on #491
Hi @alexey-khorkin ,

I have updated the link in the main page.

Thanks.

[2021-12-22 14:08] #491 closed

[2021-12-23 15:38] wyli opened #494 "nightly tests: `deep_atlas/deep_atlas_tutorial.ipynb`"
**Describe the bug**
[code]

[2021-12-24 01:09] Nic-Ma commented on #494
Seems like related to some ITK logic in the python / native connection?
@thewtex , do you have any idea what's going on?

Thanks in advance.

[2021-12-29 16:29] thewtex commented on #494
@wyli catching up here, it looks like you identified the issue. Thanks!

[2021-12-30 13:22] Shyamapada34 opened #496 "AssertionError: One of self.n_classes or n_classes must be an integer"
Hi Monai Team,
First of all, thank you for providing the good repository for image processing work. I was trying to implement UNETR algorithm given which is given in "monai/tutorials/3d_segmentation/unetr_btcv_segmentation_3d.ipynb". I have taken dataset same as given notbook, like training = 80, validation = 20, but when I was running the it, getting an error : 'AssertionError: One of self.n_clas

[2021-12-31 02:00] Nic-Ma commented on #496
Hi @Shyamapada34 ,

Thanks for your interest and experiments.
Could you please help provide your MONAI version?
The `AsDiscrete` args changed in v0.8.0, so I think you can try again with the latest MONAI.

Thanks.

[2021-12-31 05:25] Shyamapada34 commented on #496
Hi Nic-Ma,
Thanks for your quick response. I have changed the MONAI version and the problem is solved.
The UNETR model is trained with my own dataset. Now, I want to test the model with another set of nifty data and want to save the predicted image in nifty format with original spacing scale. In the training phase, I have resampling the images accordingly: (1.5,1.5,0.8).
Please provide the steps.

[2021-12-31 07:48] Nic-Ma commented on #496
Hi @Shyamapada34 ,

Cool, glad to see your progress.
Please refer to this inference tutorial to invert the prediction image and save:
https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/torch/unet_inference_dict.py#L70

Thanks.

[2022-01-03 19:19] ahatamiz commented on #496
Hi @Shyamapada34,

In addition to great suggestions by @Nic-Ma , I would like to mention that we also provide the option of on-the-fly resampling for both train and testing the UNETR repostiory:
https://github.com/ahatamiz/research-contributions/blob/master/UNETR/BTCV/test.py#L40

For instance, you may pass `--space_x=1.5, --space_y=1.5, --space_x=0.8` for training on (1.5,1.5,0.8) resolution.

Th

[2022-01-04 08:24] Shyamapada34 commented on #496
Hi Ahatamizadeh,
Thank you so much for reply. I am working with it. It is very helpful to implement.

Thanks and Regards
Shyama

[2022-01-06 05:34] Shyamapada34 commented on #496
Hi Ahatamizadeh,
Thanks for your reply. Your comments are very helpfull. I have trained the UNETR model for pancreas data with output channel 3, such as background, pancreas and cancer, and tested the model with new data set. To visualize the predicted image, I was opened the predicted image on ImageJ tool, it was not a single 3D image, it was 3 sets of 3D image. I also checked with also Mango too

[2022-01-17 04:56] Anand-afk commented on #377
@TaocsZhang I am facing the same issue, how you got any resolution to it ?
I am facing something like below :

The following files are not secure content.
fed_server.json
start fl because process of 2026 does not exist
System is in trouble and unable to start the task!!!!!

Thanks.

[2022-01-18 10:15] wyli opened #508 "testing error: `./3d_segmentation/spleen_segmentation_3d_lightning.ipynb`"
**Describe the bug**
[code]

[2022-01-18 12:25] Nic-Ma commented on #508
Hi @yiheng-wang-nv ,

I think it's because lightning updated something recently.
Could you please help verify and update the tutorial?

Thanks in advance.

[2022-01-18 12:46] wyli opened #509 "drop the check of `monai.utils.get_torch_version_tuple() >= (1, 6)`"
**Describe the bug**
because the core codebase now requires at least torch 1.6

[2022-01-18 13:36] wyli opened #510 "review meta dict postfix usage `"_meta_dict"`"
**Is your feature request related to a problem? Please describe.**
the codebase should be reviewed according to https://github.com/Project-MONAI/MONAI/pull/3671 to use the latest `PostFix.meta`

[2022-01-18 16:07] ericspod commented on #509
As in lines like `amp=True if monai.utils.get_torch_version_tuple() >= (1, 6) else False` where we choosing to use AMP only if available? If Pytorch 1.6 is assumed to always be used then yes we should. So far these are the only places `get_torch_version_tuple` is used.

[2022-01-19 07:43] #508 closed

[2022-01-19 07:44] wyli commented on #509
Yes, it's mainly for the amp flag.

[2022-01-20 01:54] ZEKAICHEN opened #513 "RuntimeError: CUDA error: an illegal memory access was encountered"
Hi team,

Was trying to reproduce the self-supervised learning tutorial and rerun the BTCV fine-tuning UNETR model using the exact same script as you provided. The following is the error reported:

[code]

Tried a lot of ways but still cannot figure it out. Any thought what's going on here? Many thanks!

[2022-01-20 02:12] Nic-Ma commented on #513
Hi @ZEKAICHEN ,

Thanks for your interest here, could you please help test with MONAI docker to avoid some environment issues?
@ahatamiz Could you please help double confirm the issue?

Thanks in advance.

[2022-01-20 02:17] ahatamiz commented on #513
Hi @ZEKAICHEN

Would you please specify the hardware that is used in this instance ?

Thanks

[2022-01-20 02:22] ZEKAICHEN commented on #513
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.142.00   Driver Version: 450.142.00   CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2022-01-20 02:23] ZEKAICHEN commented on #513
Hi there,

Thanks for the response! This is running on an AWS ec2 g4dn.xlarge instance with a single T4 GPU.

[2022-01-20 02:26] ZEKAICHEN commented on #513
tried adding ```CUDA_LAUNCH_BLOCKING=1``` to debug, get something new here:

[code]

[2022-01-20 05:08] cvlearn913 opened #514 "Some question about tutorial spleen_segmentation_3d_lightning"
**Describe the bug**
I encountered the following problem when I tried to run the tutorial code ["spleen_segmentation_3d_lightning"](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d_lightning.ipynb)
![image](https://user-images.githubusercontent.com/59678550/150275661-bb77c01f-2008-44e5-b14a-3b956596860a.png)
The code can run successfully in a single car

[2022-01-20 05:44] Nic-Ma commented on #514
Hi @cvlearn913 ,

Thanks for your interest here.
I am not very familiar with Lightning framework, @marksgraham could you please help share some help here?

Thanks in advance.

[2022-01-20 08:04] ahatamiz commented on #513
Thanks @ZEKAICHEN  for providing this information. I believer that it is an OOM error. We used a Titan RTX with 24 G VRAM for this tutorial, but your GPU seem to have 16G which may not be sufficient.

[2022-01-20 15:51] ZEKAICHEN commented on #513
Okay. I am gonna try another larger RAM instance and see. Thanks.

[2022-01-20 23:15] ZEKAICHEN commented on #513
updates:

Tried on a p3.2xlarge with a single V100, it works now but it's kinda weird tho since they have the same RAM size.

[2022-01-21 14:40] #513 closed

[2022-01-21 17:16] laurencejackson commented on #486
Hi, in a MONAI deploy WG meeting last week @ericspod mentioned that it might be useful to comment here on experiences with other app packaging frameworks. I just wanted to share my experiences with the MLFlow python_function "flavor", Unfortunately, I'm not able to share all the source code at this time, but I'll try to describe it best I can with a few screenshots. The model itself is an NLP appl

[2022-01-23 06:14] KarlThelor opened #517 "3D data segmentation data transforms policies are inconsistent"
**Describe the bug**

the transforms in [spleen_segmentation_3d.ipynb](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d.ipynb) is that：
[code]
but in [tutorial spleen_segmentation_3d_lightning.ipynb ](https://github.com/Project-MONAI/tutorials/blob/master/3d_segmentation/spleen_segmentation_3d_lightning.ipynb) is that :

[code]

after the process in  sp

[2022-01-23 10:27] Nic-Ma commented on #517
Hi @ericspod ,

I think in the medical domain, the `HWD` definition is slightly different from PyTorch description for 3D operations.
Could you please help share more details as you are expert on that?

Thanks in advance.

[2022-01-23 13:23] KarlThelor commented on #517
Thank you for your reply！ I am a beginner,  the problem of channel position has caused some troubles to me. In another medical segmentation framework nnunet[](https://github.com/MIC-DKFZ/nnUNet)，Data is organized into NCHW and NCDHW formats as PyTorch's documents and sent to network training.
![nnunet 2d](https://user-images.githubusercontent.com/60059677/150680547-48626b26-df66-441f-a92a-41f130ff

[2022-01-23 14:32] Nic-Ma commented on #517
Hi @KarlThelor ,

Our transforms are `channel-first`, the data shape is `CHWD`, then `DataLoader` will batch data to `NCHWD` to network.
And actually, I think you don't need to worry about `HWD` or `DHW`, that depends on which spatial dim you want to define as the `D` of PyTorch 3D in medical images.

Thanks.

[2022-01-23 15:51] j-sieger opened #518 "load image from s3 and apply transform"
I want to load nii.gz file from s3 and apply transform on that image.
LoadImaged in compose need file path as input. But when i load image as object. So i feel transfrom is failing as LoadImaged cant accept objects.

Below code works fine when i run on sagemaker. As i don't need to download image from s3
[code]
Below code is same as above with extra lines of code to download  object from s3.

[cod

[2022-01-23 15:56] Nic-Ma commented on #518
Hi @j-sieger ,

Thanks for your interest and feedback!
Yes, we don't support reading from the stream so far, we can consider to support it in future.
@wyli Can we use Nibabel or ITK to read remote files with URI directly?

Thanks.

[2022-01-23 17:02] j-sieger commented on #518
@Nic-Ma i have tried Nibabel but after that i try applying transform but getting below error
`img = nib.load('/home/ec2-user/SageMaker/efs/datasets/Task09_Spleen/imagesTr/spleen_61.nii.gz')`
`val_transforms(np.moveaxis(img.get_fdata(),2,0))`
**Error::**
[code]

[2022-01-23 23:24] Nic-Ma commented on #518
Hi @j-sieger ,

For `EnsureChannelFirstd(keys=["image"])`, it depends on some meta data from `LoadImage` to automatically adjust the `channel dim`. As you removed `LoadImage` and used your own loaded data, so it caused an error.
You can change `EnsureChannelFirstd`to use `AddChanneld` transform, then I think it should work.

Thanks.

[2022-01-24 01:50] Can-Zhao opened #519 "3D Detection example"
**Is your feature request related to a problem? Please describe.**
detection example is missing

**Describe the solution you'd like**
Add a 3D detection example

**Describe alternatives you've considered**
N/A

**Additional context**
Could start from one detection method

[2022-01-24 05:45] j-sieger commented on #518
Hi @Nic-Ma ,
It worked after replacing `EnsureChannelFirstd `to `AddChanneld`. Thanks for the suggestion

But the real problem is with loading s3 object and applying transformation. I will check the ways to do the same. You can also suggest me if there is any way. With out this i wont able able to deploy my MONAI trained model on AWS.

[2022-01-24 08:57] wyli commented on #518
duplicate of https://github.com/Project-MONAI/MONAI/issues/1656?

[2022-01-24 09:15] j-sieger commented on #518
@Nic-Ma , @wyli
**I have another issue during prediction this time after successfully applying transform on the file loaded with **
**My code:**
[code]

**ERROR:**

[code]

[2022-01-24 09:23] wyli commented on #518
could you ensure that`{"image":img.get_fdata()}` is 4D and the 4th dimension represents channel

[2022-01-24 09:34] j-sieger commented on #518
print(img.get_fdata().shape) --> (512, 512, 31) >> looks like 3rd dimension is the channels

print(val_data['image'].shape) --> torch.Size([1, 21, 342, 208])  >> here 2nd dimension represents the channel as iam using `AsChannelFirstd`       ==> In this case i am facing above error like sequence must have lenght 2.

-----
@wyli
I have also tried to make sure 4th dimension as channel by removing `As

[2022-01-24 09:50] wyli commented on #518
I see, assuming this is about 3D image processing... given that you have `print(img.get_fdata().shape) --> (512, 512, 31)`

the script would be
[code]

the `AddChanneld` transform with make `val_data['image']` a 4D array.

[2022-01-24 10:36] marksgraham commented on #514
Hi,

I must admit I've moved away from Lightning and haven't used it for a long time, so am much less familiar with it now. But according to the advice [here](https://pytorch-lightning.readthedocs.io/en/stable/advanced/multi_gpu.html) can you try to add a `type_as` to the forward pass:

[code]

[2022-01-25 03:38] #517 closed

[2022-01-25 03:56] cvlearn913 commented on #514
Thanks for your reply,
[code]
but same problem after modification
![image](https://user-images.githubusercontent.com/59678550/150908022-2e06fbee-4ef8-43f9-bbbb-3c25223d2cfc.png)

[2022-01-25 09:35] Nic-Ma commented on #486
Hi @laurencejackson ,

Thanks so much for detailed sharing and feedback!
About the things you mentioned:
1. Yes, TorchScript DO has some compatible issues with latest PyTorch APIs, we also have transformer based networks, like UNETR, etc. @ahatamiz is also working on the TorchScript support for it. We suppose to support TorchScript for all the MONAI networks (maybe not all the parameters combinati

[2022-01-27 08:26] cvlearn913 commented on #514
![image](https://user-images.githubusercontent.com/59678550/151319090-9bebf4a6-3cfc-476d-ab37-2e0b47c0b0dc.png)
Thanks for your replies ！ @Nic-Ma ，@marksgraham  I modified part of the code to avoid this problem temporarily,
[code]

[code]
Now that distributed training is available, but what's wrong with calculating the DICE coefficient this way?
![image](https://user-images.githubusercontent.com/5

[2022-01-30 12:53] amine0110 opened #527 "OrientationD problem"
Hi,
I am trying to do 3D segmentation using monai, but I need to use different orientations (sagittal or coronal) so I changed the parameter in the orientationd transform from 'RAS' ro 'RAR' for example, but I am having errors when calling this transform;

`Traceback (most recent call last):
  File "C:\Users\amine\anaconda3\envs\healthcare\lib\site-packages\monai\data\utils.py", line 274, in list_

[2022-01-30 17:22] #527 closed

[2022-01-31 17:40] jhkang0526 commented on #355
Do you have an approximate release date for the tutorial on using ViT??

I'm going to use this to proceed, but there's an error, so I'd like to refer to it.

[2022-02-01 04:24] ahatamiz commented on #355
Hi @jhkang0526

Thanks for your interest. We still don't have an ETA for ViT tutorial. But in the meantime, please feel free to let me know what error you face so we can help.

Thanks

[2022-02-02 21:57] wyli opened #530 "cron test error: PyTorch_Lightning/metrics"
**Describe the bug**
[code]

[2022-02-03 09:26] wyli opened #532 "cron test: resample_benchmark.ipynb"
**Describe the bug**
[code]

[2022-02-03 09:33] wyli opened #533 "cron test: inverse_transforms_and_test_time_augmentations.ipynb"
**Describe the bug**
[code]

[2022-02-03 15:46] Nic-Ma commented on #533
Fixed by PR: https://github.com/Project-MONAI/MONAI/pull/3762.

Thanks.

[2022-02-04 00:12] #532 closed

[2022-02-04 01:04] #533 closed

[2022-02-05 18:29] wyli commented on #530
could you help look into this one? @Nic-Ma

[2022-02-05 18:30] wyli opened #535 "cron tests: resample_benchmark.ipynb"
**Describe the bug**
[code]

[2022-02-06 03:11] Nic-Ma commented on #530
Sure, I will check it soon.

Thanks for your reminder.

[2022-02-06 19:30] #535 closed

[2022-02-07 10:14] Nic-Ma commented on #530
This root cause of this issue is fixed with PyTorch Lightning PR: https://github.com/PyTorchLightning/pytorch-lightning/pull/10724.
Let's temporarily use the fixed PyTorch version to avoid the issue until PyTorchLightning releases new version: https://github.com/Project-MONAI/tutorials/pull/539.

Thanks.

[2022-02-07 19:01] akihironitta commented on #530
Hi @Nic-Ma, `pytorch-lightning==1.5.10` will include the patch and should be released this week (tomorrow or in a few days).

[2022-02-08 09:13] wyli commented on #530
this is still an issue with a different error:
[code]

[2022-02-08 09:48] Nic-Ma commented on #530
Let's wait for the new PyTorch-Lightning release to totally fix this issue.

Thanks.

[2022-02-10 13:21] 834799106 opened #544 "RandSpatialCropSamplesd and CopyItemsd problem"
When I compose
RandSpatialCropSamplesd(keys="image", roi_size=(128, 128, 128), random_size=False, num_samples=2,),
CopyItemsd(keys=["image"], times=1, names=["image2"], allow_missing_keys=False), it will make mistakes in CopyItemsd. My guess is that RandSpatialCropSamplesd returns the value as a list. Is there any way to solve this problem? This is code from the self-supervision tutorial

[2022-02-13 23:57] wyli commented on #530
would this be addressed by the current latest release?

[2022-02-14 00:18] Nic-Ma commented on #530
Hi @wyli ,

I will have a try the latest PyTorch-Lightning sometime this week.

Thanks.

[2022-02-14 11:43] wyli opened #545 "orientation before spacing"
**Is your feature request related to a problem? Please describe.**
the orientation transform should be put before any anisotropic spatial scalings
so that data from different orientations are scaled in the same axes
[code]
should be
[code]

this is a correct example:
https://github.com/Project-MONAI/tutorials/blob/7b1fe3a966a2a24757770b2d757e019dc7ca6a55/automl/DiNTS/train_dints.py#L302-L305

[2022-02-14 12:43] yiheng-wang-nv commented on #530
Hi @wyli and @Nic-Ma ,

When using `pytorch-lightning==1.5.10`, do `import pytorch_lightning as pl` will not raise the error.

However, when I tested with `PyTorch Version 1.11.0a0+17540c5`, a new error is raised:
[code]
for `torch==1.10.2`, there is no such error.

[2022-02-15 01:37] Minxiangliu opened #547 "Cropforegroundd not working"
I tried converting in my own medical images, everything is fine, but when using the `Cropforegroundd` method it doesn't work, what am I doing wrong?
Thanks in advance for your reply!

DICOM file link: [M0_1.nii.gz](https://drive.google.com/file/d/15wtmPZnm_rc5lV0ykRXGVX14uyxBENIq/view?usp=sharing)
PS: The medical images is slice image of PET section.
My code:
[code]

Results:
![Results](https://us

[2022-02-15 02:16] Minxiangliu commented on #547
My bad. Need to modify `select_fn` to solve the problem.

[2022-02-15 02:16] #547 closed

[2022-02-15 03:08] yiheng-wang-nv commented on #530
Hi @Nic-Ma , I checked `torchio` yesterday, and the latest version also failed.

[2022-02-15 03:17] yiheng-wang-nv commented on #530
Hi @wyli , for the error you mentioned:
`ImportError: /opt/conda/lib/python3.8/site-packages/torchtext/_torchtext.so: undefined symbol: _ZNK3c104Type14isSubtypeOfExtERKS0_PSo`

It is due to the version of `torchtext` and `torch` mismatch. The current notebook tries to install `torch==1.10.2`, but does not change `torchtext` and `torchvision` at the same time.

Let me submit a PR to fix this issue,

[2022-02-15 07:57] #530 closed

[2022-02-15 08:01] #545 closed

[2022-02-15 10:33] wyli opened #550 "a demo to load a directory of DICOM as an array"
Perhaps show an example in the load medical images tutorial that it's possible to just give the containing folder. https://github.com/Project-MONAI/tutorials/blob/master/modules/load_medical_images.ipynb

Right now it's only showing an example giving a list of files.

_Originally posted by @digernes in https://github.com/Project-MONAI/MONAI/issues/1646#issuecomment-1040100967_

[2022-02-16 09:52] EdvardGrodem opened #552 "Bug in Self Supervised Pretraining"
During pretraining the validation loss is not correctly calculated.
https://github.com/Project-MONAI/tutorials/blob/e1088488c1bcd9c53eaebcdc8b727fe98c2463b9/self_supervised_pretraining/ssl_script_train.py#L211

I belive it should be
`total_val_loss /= val_step`

[2022-02-16 10:59] yiheng-wang-nv commented on #550
Update: I tried to update the tutorial, but met an issue:
To loading a whole directory, it seems all images from the folder should belong to the same DICOM series.
I tried to create a DICOM series via using `itk.ImageSeriesWriter`, but still failed.

Hi @wyli , here do you have any suggestion? Can we do 1) download a DICOM series (such as from: https://www.ircad.fr/fr/recherche/3d-ircadb-01-fr/) 2

[2022-02-16 11:10] wyli commented on #550
thanks I'm not sure about the licensing of the data, perhaps you can create tiny images following this script: https://simpleitk.readthedocs.io/en/master/link_DicomSeriesFromArray_docs.html?highlight=dicom

[2022-02-17 07:25] yiheng-wang-nv commented on #552
Correct, thanks @EdvardGrodem

[2022-02-17 07:33] #552 closed

[2022-02-17 08:32] #550 closed

[2022-02-17 11:58] wyli opened #556 "dataset downloading issue"
**Describe the bug**
[code]

[2022-02-17 11:59] wyli commented on #556
made a copy at https://github.com/Project-MONAI/MONAI-extra-test-data/releases/download/0.8.1/MedNIST.tar.gz following https://github.com/Project-MONAI/MONAI/issues/3708

[2022-02-18 09:27] #556 closed

[2022-02-18 09:30] cvlearn913 opened #558 "How to initiate network using torch.nn.init.kaiming_normal?"
When I try to initiate network like this
![image](https://user-images.githubusercontent.com/59678550/154655324-1db5a746-afe5-4e17-aeae-265a4e60c8b6.png)

I got the error as below:
![image](https://user-images.githubusercontent.com/59678550/154655668-216debe6-b0f9-4924-b3ba-58d35c56df0b.png)

How to initiate network correctly？
Thanks in advance !

[2022-02-18 09:58] Nic-Ma commented on #558
Hi @yiheng-wang-nv ,

Could you please help check this question?

Thanks in advance.

[2022-02-18 11:07] cvlearn913 commented on #558
To reproduce the problem,the code is at below
`import torch.nn.init

from monai.networks import normal_init
from monai.networks.layers import Norm
from monai.networks.nets import UNet

model = UNet(
            spatial_dims=3,
            in_channels=1,
            out_channels=3,
            channels=(16, 32, 64, 128, 256),
            strides=(2, 2, 2, 2),
            num_res_units=2,

[2022-02-18 12:39] wyli opened #559 "testing error: 3d_segmentation/brats_segmentation_3d.ipynb"
**Describe the bug**
[code]

[2022-02-18 12:39] wyli opened #560 "testing error: modules/3d_image_transforms.ipynb"
**Describe the bug**
[code]

[2022-02-18 20:20] wyli opened #561 "evaluate and tag 0.8.1 tutorials"
as part of the 0.8.1 release, would be great to pin down the tutorial version.

[2022-02-19 09:25] ahmedhisham73 commented on #559
+1

[2022-02-19 16:12] #559 closed

[2022-02-19 16:23] #560 closed

[2022-02-20 08:06] 834799106 opened #564 "When I use dice_metric in multiple processes, the following happens when I call dice_metric.aggregate() in the main process."
CUDA out of memory. Tried to allocate 6056239117.41 GiB (GPU 0; 44.56 GiB total capacity; 2.20 GiB already allocated; 40.30 GiB free; 2.54 GiB reserved in total by PyTorch). unable to sync buffer contents: [[tensor([0.0925, 0.0137, 0.0055], device='cuda:0'), tensor([0.0103, 0.0024, 0.0013], device='cuda:0'), tensor([0.0223, 0.0008, 0.0015], device='cuda:0'), tensor([0.0561, 0.0042, 0.0034], device

[2022-02-20 14:42] cvlearn913 commented on #558
I got it ，it based on nn.Module.apply（）https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module

[2022-02-20 14:42] #558 closed

[2022-02-21 04:58] Nic-Ma opened #565 "Verify tutorials with MONAI v0.8.1"
**Is your feature request related to a problem? Please describe.**
As we already released MONAI v0.8.1, it's better to double confirm the tutorials and examples with it.
Then we can tag v0.8.1 for tutorials repo.

[2022-02-21 08:04] yiheng-wang-nv commented on #565
Hi @Nic-Ma , I'm working on this

[2022-02-21 08:48] yiheng-wang-nv commented on #558
Hi @cvlearn913 , sorry for late reply. Did you solve the issue? I checked the source code of `normal_init` and found that it has some limitations, like for this line:
[code]
Functions in https://pytorch.org/docs/stable/nn.init.html have different arguments, thus `normal_func` should be able to achieve alterable input. Let me submit a PR to enhance it.

[2022-02-21 08:55] cvlearn913 commented on #558
@yiheng-wang-nv Thanks for your reply！ I wrote a new function based on `normal_init`
`def kaiming_normal_init(
    m,  normal_func: Callable[[torch.Tensor, float, float], Any] = torch.nn.init.kaiming_normal_
) -> None:

    cname = m.__class__.__name__

    if getattr(m, "weight", None) is not None and (cname.find("Conv") != -1 or cname.find("Linear") != -1):
        normal_func(m.weight.data)

[2022-02-21 10:52] wyli commented on #564
it's difficult to debug based on this description, could you provide more information?
perhaps you can try `detach()` the relevant input tensors.

[2022-02-21 10:58] wyli commented on #544
I couldn't replicate your issue:

[code]

please create a separate issue with detailed information so that we can help here.

[2022-02-21 10:58] #544 closed

[2022-02-21 11:38] #496 closed

[2022-02-21 11:38] #463 closed

[2022-02-21 11:42] #269 closed

[2022-02-21 11:42] #306 closed

[2022-02-21 11:44] #351 closed

[2022-02-21 11:44] #392 closed

[2022-02-21 11:45] wyli commented on #418
has this been done @Nic-Ma?

[2022-02-21 11:47] #433 closed

[2022-02-21 11:48] Nic-Ma commented on #418
I think so, current tutorial was executed with `Pytorch version: 1.9.0a0+c3d40fd`.

Thanks.

[2022-02-21 11:48] #418 closed

[2022-02-23 09:08] yiheng-wang-nv commented on #565
Hi @drbeh , could you please help to verify the tutorials in `pathology/`?
The dataset in https://www.kaggle.com/c/prostate-cancer-grade-assessment/ is >400 GB, and my hard disk cannot take it

[2022-02-23 10:23] wyli opened #569 "test error: ./modules/jupyter_utils.ipynb"
**Describe the bug**
[code]

[2022-02-23 10:28] wyli opened #570 "testing error: ./3d_segmentation/spleen_segmentation_3d_lightning.ipynb"
**Describe the bug**
[code]
[code]